[2013-12-23 04:57] lyhcode opened #1 "Inherits GwtBootstrap3 or GwtBootstrap3NoTheme conflicts"
`DateTimePicker.gwt.xml` inherits GwtBootstrap3,
this module includes theme files.

If I use DateTimePicker and GwtBootstrap3NoTheme in my project.
It will cause a conflict.

A solution is create a `DateTimePickerNoTheme.gwt.xml`.
Is this ok?

Thanks.

[2014-01-27 09:14] tomekziel opened #5 "Add typeahead.js support"
Typeahead component was dropped from gwtbootstrap3. It would be great to have GWT wrapper for typeahead.js (http://twitter.github.io/typeahead.js/)

[2014-01-29 15:13] davidbuhler-zz opened #6 "DateTimeBox does not hide when URI anchor changes."
Current Behavior:
DateTimeBox does not hide when URI anchor changes.

Expected Behavior:
DateTimeBox will hide if showing when the URI Anchor changes.

Example:
Go to page: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker
Go to "Methods"
Click "Show"
From the NavHeader dropdown, select "Cpomponents" > "Alerts"
DateTimePicker still shows.

[2014-02-11 16:04] svenjacobs opened #12 "Respond.js module"
Issue [#63](https://github.com/gwtbootstrap3/gwtbootstrap3/issues/63) showed that it might be helpful for IE users if we create a [Responds.js](https://github.com/scottjehl/Respond) module.

[2014-02-11 20:23] jwest011 opened #13 "Click with focus on DateTimeBox does not work"
Initial click on a DateTimeBox shows the picker as expected, but if you click while the text box already has focus, the picker is not displayed.

[2014-02-13 11:43] BenDol opened #14 "DateTimePicker setValue not setting any value"
As the title states, DateTimePicker is not working when you call setValue(date). It is just a blank text box. Everything else is working for me.

[2014-02-17 12:45] sane88 opened #15 "DateTimePicker can't be converted into js"
Uncaught exception appearedcom.google.gwt.core.client.JavaScriptException: (TypeError) @org.gwtbootstrap3.extras.datetimepicker.client.ui.base.DateTimeBoxBase::configure(Lcom/google/gwt/dom/client/Element;ZZZLjava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)([JavaScript object(122), bool: true, bool: true, bool: false, string: 'fa fa-clock-o', string: 'fa fa-calendar', strin

[2014-02-19 16:37] #12 closed, assigned to nobody

[2014-02-20 02:17] #14 closed, assigned to nobody

[2014-02-20 02:30] #6 closed, assigned to nobody

[2014-02-20 03:09] #13 closed, assigned to nobody

[2014-02-23 16:31] #1 closed, assigned to nobody

[2014-02-23 16:32] #15 closed, assigned to nobody

[2014-02-24 04:42] davidbuhler-zz opened #17 "Open Date Picker does not Scroll with page"
Expected Behavior:
Focus on Date Field.
Popup Opens
Scroll page
On http://www.malot.fr/bootstrap-datetimepicker/demo.php, the date picker scrolls up/down with the page.

Actual Behavior:
Focus on Date Field.
Popup Opens
Scroll page
On http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker, the date picker stays in a fixed location.

[2014-02-24 04:45] davidbuhler-zz opened #18 "DatePicker input field should prevent cursor input"
Expected Behavior:
Date input field is disabled.
SRC http://www.malot.fr/bootstrap-datetimepicker/demo.php

Actual Behavior:
Date input field is enabled.
SRC: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

[2014-03-12 11:34] GooDer opened #19 "Allow set value attribute of select option element"
I can't find any way how to set value attribute of option element.

[2014-03-13 09:42] ArloL opened #20 "Cannot select specific items in Select"
In a select that allows multiple options I cannot select specific indexes via code. I can only (de)select all options. I looked at the Option class but it too does not allow to set the `selected` attribute. It would be great if this were supported :)

[2014-03-16 13:58] #18 closed, assigned to nobody

[2014-03-16 14:25] #17 closed, assigned to nobody

[2014-03-17 08:15] #20 closed, assigned to nobody

[2014-04-05 13:07] jgodi opened #25 "Create DateTimeBoxAppend"
The DataTimeBox has an append widget, need to add the widget to support this.

http://www.malot.fr/bootstrap-datetimepicker/demo.php

[2014-04-07 13:28] GooDer opened #26 "Feature request: implement ValueListBox<T> behaviour"
Hello,

it would be great if you implement second Select class which will have same features as standard GWT ValueListBox<T> component for rendering DB proxy entities.

http://www.gwtproject.org/javadoc/latest/com/google/gwt/user/client/ui/ValueListBox.html

[2014-04-09 06:56] GooDer opened #27 "Can't set select options after component initialization"
Hello,

I tried to set option values on select component created by UI binder. Select is still empty even when I call selecBox.seValues("test", "test2") or selecBox.setValues(option1, option2). I tried to call selecBox.refresh() after values set and still no success (tried version 0.6 and 0.7-snapshot).

UI binder code:
..........
 "xmlns:select="urn:import:org.gwtbootstrap3.extras.select.client.u

[2014-04-22 11:15] ghost opened #28 "Ability to set the language/locale in DateTimePicker"
Please add the ability to set the language as detailled in

http://www.malot.fr/bootstrap-datetimepicker/index.php

[2014-04-22 16:02] #28 closed, assigned to nobody

[2014-04-22 16:04] #27 closed, assigned to nobody

[2014-04-24 07:19] snowe2010 opened #32 "DateTimeBox doesn't work correctly when tabbing through fields in Chrome 34"
It seems that either the DateTimeBox doesn't implement the correct tabIndex or that it somehow resets the tabindex to 0 when trying to tab through it. You can see the issue on the demo page. https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

Attempting to tab from the first datebox to the second results in tabbing up to the header. If you continue to tab through the header you wil

[2014-04-30 17:41] snowe2010 opened #33 "DateTimeBox doesn't have a setName method for form submission"
DateTimeBox needs a name attribute so that we can submit it in forms.

[2014-05-12 18:23] snowe2010 opened #34 "Select box does not flow over outside of Collapse Panel"
Kind of difficult to describe, but if a select box is in a collapse panel and there are a ton of elements in the select box, they will be hidden behind the borders of the panel.

![region_19](https://cloud.githubusercontent.com/assets/1534535/2948470/899ed4d2-da02-11e3-8a49-cc4bff026d5c.png)

[2014-05-12 18:34] #34 closed, assigned to nobody

[2014-05-13 22:46] snowe2010 opened #35 "Select cannot be cast to Custom Panel"
So I'm receiving a hugely cryptic error in a Composite class I've made to hold an input group for a select box.

I receive this error:

[code]

at this line in my code:

[code]

This is my code:

[code]

I have no clue what I'm doing wrong, if it's a problem with Select, or if it's a problem with GWT. If I'm wrong to post this here please let me know, I'm just very frustrated with this right now a

[2014-05-15 04:50] hmolsen opened #36 "Format string mismatch between DateTimeFormat and DateTimePicker: 12/24 hour string h vs. H"
When using a DateTimeBox with 12h format="HH:ii  yy-mm-dd" and selecting a time after noon:
![image](https://cloud.githubusercontent.com/assets/5484682/2980390/1a95d1a0-dbea-11e3-8d70-2df4c78385b5.png)
after selecting the time from the DateTimeBox, the AM-Value is shown:
![image](https://cloud.githubusercontent.com/assets/5484682/2980408/b7687c80-dbea-11e3-97c7-dfd61479665f.png)

This also works (

[2014-05-15 13:37] #36 closed, assigned to nobody

[2014-05-18 18:22] jgodi opened #38 "DateTimeBox should implement HasValue<Date>"
DateTimeBox should implement HasValue, as GWT does for DateBox. This would create a consistent behavior and implementation, since the Interfaces in the Presenters tend to reference the view's controls by HasValue, HasValue, HasClickHandlers, etc.

Oops. This should be part of "Extras".

[2014-05-18 20:06] davidbuhler-zz opened #39 "DateTimeBox should be renamed DateTimePicker"
DateTimeBox's concrete class name should reflect the project name: DateTimePicker

[2014-05-18 20:17] #35 closed, assigned to nobody

[2014-05-18 20:21] #33 closed, assigned to nobody

[2014-05-18 20:28] #38 closed, assigned to nobody

[2014-05-18 20:30] #19 closed, assigned to nobody

[2014-05-18 20:39] #39 closed, assigned to nobody

[2014-05-19 16:51] jgodi opened #40 "Implement DateTimePicker 'pickerPlacement'"
Needed to set the DateTimePicker orientation.

[2014-05-19 17:10] #40 closed, assigned to nobody

[2014-05-23 12:27] tttomat19 opened #43 "DateTimePicker doesn't work"
gwt-bootstrap-extra version: 0.8-SNAPSHOT
chrome version: 34.0.1847.137 m

https://gist.github.com/flirtomania/2300c070e6c56e9a653f#file-gistfile1-txt

ui.xml:
https://gist.github.com/flirtomania/ca0e8eb8c7bd79c01b3f#file-gistfile1-xml

When I click then on datetimepicker nothing pops up.

[2014-05-26 17:08] jgodi opened #44 "DateTimePicker - setValue() in constructor"
I suggest to remove this line:

[code]

On a web page with a lot of DateTimeBox objects there is always a kind of flicker when a DateTimeBox is newly created and then set to a new value immediately.

[2014-05-26 17:08] jgodi opened #45 "Issues with scheduleFixedDelay() in DateTimeBoxBase's setValue()"
DateTimeBoxBase's use of scheduleFixedDelay() makes it hard to call setValue() and do a getValue() immediately if there was a preceding setValue() that "blocks" the write. The result of a setValue(A), setValue(B) and getValue() is the value A not B (called in less then 200 ms).

Call

[code]

on this test case:

[code]

An alternative implementation of DateTimeBoxBase and setValue() is desirable.

[2014-05-26 17:10] #44 closed, assigned to jgodi

[2014-05-26 17:16] #45 closed, assigned to jgodi

[2014-05-27 09:12] povilasb opened #46 "DateTimeBox could implement HasValue or TakesValue interfaces."
If DateTimeBox implemented HasValue<Date> or TakesValue<Date> interfaces, it would be easier to use it in MVP pattern.
http://www.gwtproject.org/javadoc/latest/com/google/gwt/user/client/ui/HasValue.html
http://www.gwtproject.org/javadoc/latest/com/google/gwt/user/client/TakesValue.html

[2014-05-29 03:37] #46 closed, assigned to nobody

[2014-06-05 14:53] ArloL opened #49 "DateTimePicker should implement IsEditor"
It can return an instance of TakesValueEditor.of(this);

[2014-06-06 06:22] #49 closed, assigned to nobody

[2014-06-06 13:09] #43 closed, assigned to nobody

[2014-06-13 16:09] legendwan opened #50 "setEnabled() method does not work for ToggleSwitch."
I cannot disable the ToggleSwitch widget by calling setEnabled(false). Could u please fix that? Thanks.

[2014-06-13 20:39] davidbuhler opened #51 "Select's "Option" should have setter/getter for object"
Select Option should have a setter/getter for a generic object. In doing so, the developer can store a serialized object (a DTO/Database proxy entity) in the selected option.

Another approach would allow the developer to pass in a generic "Object" instead of the "Option". Then, the developer could specify the label property of the Object to display on the Select control (label="ingredients" or la

[2014-06-16 01:32] #26 closed, assigned to nobody

[2014-06-16 14:59] stratosgear opened #52 "Add a name in the Select widget so we can submit it..."
Or, if the functionality is already there, how do I specify a name in the html select tag.

I just can't seem to be able to correctly submit a Select widget. Looking through the generated html code the select lacks a valid name:

    <select class="bootstrap-select" style="display: none;">
    ...
    ...
    </select>

[2014-06-16 18:25] davidbuhler opened #53 ""Select" should setValue() without dispatching change events"
Need an additional parameter that allows the user to set the value without dispatching events.

See:

http://www.gwtproject.org/javadoc/latest/com/google/gwt/user/client/ui/ValueListBox.html#setValue(T, boolean)

[2014-06-16 19:40] davidbuhler-zz opened #54 "Extras Menu is not Alphabetized"
http://gwtbootstrap3.github.io/gwtbootstrap3-demo/

Actual:
Extras Menu is not Alphabetized

Expected:
Extras Menu is Alphabetized

Note: Other menus are alphabetized.

[2014-06-16 20:48] davidbuhler opened #55 "Select doesn't layout correctly inside FormGroup"
The Select doesn't layout correctly inside of a FormGroup.

I believe the problem is the reference to the Select's class name, instead of the Button Group.

[code]

[2014-06-17 10:21] manodupont opened #56 "DateTimeBox setEndDate doesn't work"
I try to set an end date. It just doesnt do anything.  Do I have to set a start date also to make it work ? I dont know.

I usef the format they wanted as yyyy-MM-dd

this.date.setEndDate("2014-06-17");

Nothing is disabled. 06-18 and more are still enabled

[2014-06-17 16:46] davidbuhler opened #57 "Select should Implement HasValue<T>"
Select should implement com.google.gwt.user.client.ui.HasValue.

[2014-06-17 16:47] davidbuhler-zz opened #58 "Select should Implement HasEnabled"
Select should implement com.google.gwt.user.client.ui.HasEnabled

[2014-06-17 16:48] davidbuhler-zz opened #59 "Select should Implement Focusable"
Select should implement com.google.gwt.user.client.ui.Focusable

[2014-06-17 18:30] davidbuhler-zz opened #60 "Select dispatches Change Event when showing Internal Prompt "Nothing Selected""

[2014-06-17 19:43] davidbuhler-zz opened #61 "getSelectElement() should be a protected accessor"
org.gwtbootstrap3.extras.select.client.ui.Select.

Actual
private SelectElement getSelectElement()

Expected
protected SelectElement getSelectElement()

This may be true with the other private operations in the class, too.

[2014-06-17 20:02] #60 closed, assigned to nobody

[2014-06-18 04:53] davidbuhler opened #62 "BootBox should include ability to add "Custom" Dialog"
Expected: should be able to create a custom BootBox window with the following:

title
message
buttons []
-label
-button-type
-callback

Actual:
Can only open prompt, confirm, alert

See "Custom Dialog" http://bootboxjs.com/#examples

[2014-06-18 15:41] #54 closed, assigned to nobody

[2014-06-18 19:46] davidbuhler-zz opened #63 "Growl should be added to Demo"
[code]

[2014-06-18 19:48] davidbuhler-zz opened #64 "FullCalendar should be added to Demo"
[code]

[2014-06-18 19:50] #63 closed, assigned to nobody

[2014-06-18 19:51] #64 closed, assigned to nobody

[2014-06-18 21:01] davidbuhler-zz opened #65 "Growl should take Typed Enum for Alert Style instead of String"
[code]

[2014-06-18 21:02] davidbuhler-zz opened #66 "Growl should take Typed Object params instead of Javascript Objects"
[code]

[2014-06-19 13:58] davidbuhler-zz opened #67 "Growl "pauseOnMouseOver" should be "setPauseOnMouseOver""

[2014-06-19 14:43] davidbuhler opened #68 "Growl Position Setters have no parameters"
setTop works as expected.
[code]

[2014-06-21 02:39] davidbuhler opened #69 "Growl should accept iconStyle as an IconType enum"
[code]

[2014-06-22 15:27] #67 closed, assigned to nobody

[2014-06-22 15:27] #66 closed, assigned to nobody

[2014-06-22 21:19] #61 closed, assigned to nobody

[2014-06-22 21:29] #59 closed, assigned to nobody

[2014-06-22 21:34] #58 closed, assigned to nobody

[2014-06-23 16:16] davidbuhler opened #71 "Growl Options should require typed AlertType for Alert Style"
To set the Alert Type style, the GrowlOptions currently require the developer to use one of the following:

setDangerType()
setInfoType()
setSuccessType()
setWarningType()

[code]
For consistency with the rest of the framework, to pass a parameter in the setter, and to use a typed Enum, these should be consolidated into:
[code]

[2014-06-23 16:17] #65 closed, assigned to nobody

[2014-07-05 13:36] dillerch opened #74 "Datetimepicker sets time to midnight"
When selecting 12:00, the getValue() method returns the correct year, month and day but 00:00. Everything else works as it should, 13:00 => 13:00 and so on.

My parameters are forceParse="false" autoClose="true" startView="MONTH" minView="DAY" maxView="MONTH" language="DE" format="dd.mm.yyyy HH:ii" minuteStep="60"

[2014-07-10 16:39] jgodi opened #75 "Create method to clear start/end dates for DateTimePicker"
Need to create a method to clear the start/end dates for DatePicker.

clearEndDate()

this will just call into

setEndDate(getElement(), null)

[2014-07-10 19:06] #75 closed, assigned to nobody

[2014-08-05 07:45] dw9 opened #80 "DateTimePicker loses set format"
E.g. if you setFormat("dd.mm.yyyy"), then 'format' will be set to "dd.mm.yyyy" and then after that, the format will be converted to "dd.MM.yyyy" in setDateTimeFormat() but the 'format' member will not be updated. Since 'format' is not updated, this will cause the date format to change back to "dd.mm.yyy" after you have select a value.

[2014-08-12 07:55] sector101010 opened #81 "There is no 0.9-SNAPSHOT (pom.xml)"
There is no 0.9-SNAPSHOT on http://oss.sonatype.org/content/repositories/snapshots ;)

[2014-08-12 07:59] #81 closed, assigned to nobody

[2014-08-13 11:12] blvp opened #82 "Bootbox.setLocale method. bootbox.js already supports it."

[2014-08-26 22:09] atfornes opened #83 "DateTimePicker format changes times after 13:00 to 12h format without AM/PM information"
Same problem as #36

When using DateTimePicker, either setting programatically or chosing with the picker a time equal or bigger than 13:00 results in unexpected behavior: the time is set to the 12 hours format but not "PM" is added to the textbox string.

The problem can be reproduced by simply adding a DateTimePicker as in this simple example: https://github.com/atfornes/sampleGwtBootstrap3DateT

[2014-08-29 21:25] zlamalp opened #85 "Update Growl to version 2.0.1"
Hi, I'd like to update Growl plugin from 1.0.6 to 2.0.1 because I need custom offset per axis. Do you have any plans for this or you want to stick with older version ? I'll do it anyway for my own purpose, but I'd like to share the result, since it can be useful to others too.

There are some notable changes in Growl itslef, like using only CSS animations, clickable notification, actions onShow, o

[2014-09-09 12:14] sainitarish opened #86 "Add popover on badges"
Hi,
i'm trying to add popover to badge, but its not showing up. Is there any code snippet you can provide???

Thanks!!!!!!

[2014-09-09 12:25] #86 closed, assigned to nobody

[2014-09-12 14:18] lucasbmenezes opened #90 "IE Specific CSS for Cards"
Card (org.gwtbootstrap3.extras.card.Card) does not flip as expeted in IE11, it does not show the "back" face, only front face mirrored.

Even in showcase it does not work, just open on IE http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#card and try to flip it: it'll show mirrored.

[2014-10-13 12:59] netogildo opened #92 "Summernote image upload"
Summernote (org.gwtbootstrap3.extras.summernote.client.ui.Summernote) image upload does not work like summernote's original demo (http://hackerwins.github.io/summernote/).

Even in showcase http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#summernote it does not work.

When upload from "Image URL" works correctly, with "Select from files" that is not working the upload.

[2014-10-18 21:30] stratosgear opened #93 "Update Bootstrap Slider to latest version"
By browsing through the code I see that the Slider does not accept an array, so I doesn't look I can select a range of values.

Am I reading it wrong?

[2014-10-22 12:23] #92 closed, assigned to nobody

[2014-10-31 13:59] RajGaurav opened #94 "Select component doesn't get enabled once it is disabled"
http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#select

Select element when disabled like below

Select select = new Select;
select.setEnabled(false);

And then try to enable the same like below

select.setEnabled(true);

Yet it doesn't get enabled.

[2014-10-31 18:00] JasonB42 opened #95 "FullCalendar Event getStart() Exception"
While adding events to the FullCalendar extra, the org.gwtbootstrap3.extras.fullcalendar.client.ui.Event.getStart() consistently throws a JavaScriptException saying that "theInstance[1507516].start.toDate is not a function"

To test this, I have created a clean GWT Project and added the following lines:

[code]

_(In file com.fullcalendartest.client.FullCalendarTest.java:113-115)_

Which throws:

[2014-11-06 12:31] IvanLazov opened #96 "Bootstrap Select Demo page not working on IE 8"
Opening the demo page for the Select widget (http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#select) doesn't work on IE 8. It ends up with an unknow runtime error.

Here is a screenshot
![image](https://cloud.githubusercontent.com/assets/1061394/4935763/deeebad0-65b0-11e4-940d-93f58219937a.png)

[2014-11-20 09:54] jossag opened #98 "Time only datepicker reverts year to 1899"
Using the datetimepicker in "Time only" mode and setting a date, the date in the header changes the year to 1899.

Can be reproduced in the demo (http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker)

Select a time in the time only datepicker.
Click it again, the date header should read 1899.

[2014-12-18 19:44] #50 closed, assigned to nobody

[2015-01-13 15:56] ArloL opened #105 "Caching of extras"
In accordance with https://github.com/gwtbootstrap3/gwtbootstrap3/issues/263 we should update these as well:

- [x] animate
- [x] bootbox
- [x] cachemanifest
- [x] card
- [x] datetimepicker
- [x] fullcalendar
- [x] growl
- [x] positionedtabs
- [x] respond
- [x] select
- [x] slider
- [x] summernote
- [x] toggleswitch

[2015-01-13 15:57] ArloL commented on #105
I can't figure out which version of animate is used because it doesn't contain it in the css and I don't want to update either. Any ideas?

[2015-01-13 16:10] ArloL commented on #105
Same for card and datetimepicker.

[2015-01-13 16:11] jgodi commented on #105
I will look into them. The card is just custom css/js, so we can version that at 1.0 or just the same as the library

[2015-01-13 16:13] ArloL commented on #105
Otherwise we can just give them names without versions. But we have to remember to include the version when updating.

[2015-01-13 16:26] jgodi commented on #105
DateTimePicker is 2.2.0, forgot I added the versions on the demo.

http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

[2015-01-13 16:27] jgodi commented on #105
Animate.css is 3.2.0

[2015-01-13 19:30] ArloL commented on #105
Last one missing is positionedtabs. Also custom code?

[2015-01-13 19:55] jgodi commented on #105
Yes, custom code. Basically just a port over from Bootstrap 2.3.3 since they dropped support for these kinds of tabs.

[2015-01-13 20:46] klimeryk commented on #52
I want the 0.9 ASAP, so I'm pulling my weight :)

[2015-01-14 12:27] #52 closed

[2015-01-14 12:27] #55 closed

[2015-01-14 12:29] #105 closed

[2015-01-14 20:18] jgodi commented on #85
Any update on this?

[2015-01-15 07:23] zlamalp commented on #85
Hi, I have almost complete version in my growUpdate branch, but there is a bug in original JS library, which doesn't fire any event. So I'm still waiting for mouse0270/bootstrap-growl#28 to complete my task. I can prepare version without events if you wish.

[2015-01-15 12:00] jgodi commented on #85
I would say no events for now. But create a second issue for when bootstrap-growl fixes their issue with events. That way we can get this out the door :)

Thanks!

[2015-01-15 14:46] jgodi commented on #94
For the these custom wrapped selects you have to call ```refresh()``` after any changes.

So in your case:

[code]

I will update the demo to show this.

[2015-01-15 14:46] #94 closed

[2015-01-15 15:24] jgodi commented on #90
This is because IE doesn't fully support the transform property. A lot of custom CSS will have to be written for this to work in IE. If you can submit a PR for this that would be great!

[2015-01-16 09:28] crevete commented on #85
I'm waiting for this update 2.0.1 for long time :-) Please make a PR as soon as possible even if there is still an event bug. Thanks a lot

[2015-01-16 12:54] zlamalp commented on #85
Hi, I just made PR #110 with Growl without events. I'm just unsure about inheriting GwtBootstrap3 module, but I need ``Styles`` and ``IconType`` classes, which are in base module. I will make separate PR for the demo app.

[2015-01-16 14:52] crevete commented on #85
I guess you may inherit the CDN module (or base module ?), since the GwtBootstrap3 module includes all resources stuff (themes, etc.)

[code]

[2015-01-16 15:54] jgodi commented on #85
For the inherits issue, these are extras for the main library. Users are supposed to already inherit the GwtBootstrap3 module before inheriting your module. Same goes with the DateTimePicker and others. None of them inherit GwtBootstrap3 because the user can't use the extras without inheriting it themselves.

[2015-01-16 18:41] ArloL commented on #96
I can reproduce an error in IE 8. Looking into it right now.

[2015-01-16 19:08] ArloL commented on #96
It's because of the <ul> in the setInnerHTML. Check the documentation of GWT's HTMLPanel where they talk about it. Maybe I'll prepare a fix tomorrow.

[2015-01-16 19:57] jgodi commented on #96
Where is this setInnerHTML at?

[2015-01-16 22:20] ArloL commented on #96
https://github.com/gwtbootstrap3/gwtbootstrap3/blob/bbd8c26b691f275103b965c768e2b6598bd338e9/gwtbootstrap3/src/main/java/org/gwtbootstrap3/client/ui/base/mixin/HTMLMixin.java#L39

[2015-01-17 09:09] ArloL opened #112 "Select broken in IE 8"
See https://github.com/silviomoreto/bootstrap-select/issues/769.

We should update the library as soon as the PR is merged.

[2015-01-17 10:11] ArloL opened #114 "Slider broken in IE 8"
I get some weird behavior with Slider in IE 8. Somehow I get a `Object doesn't support this property or method` error when executing .slider(). Yet this http://jsfiddle.net/kxfk9qyt/4/embedded/result/ works.

Since there doesn't seem to be active development for Slider I would recommend to leave it as it is and add a message to the demo stating that IE 8 is broken.

[2015-01-17 10:15] ArloL commented on #114
Maybe we should move to https://github.com/seiyria/bootstrap-slider

They don't support IE 8 either but it's under active development.

[2015-01-17 15:18] jgodi commented on #114
I think we should move to that one too. Active Development would be best.

[2015-01-17 15:19] ArloL commented on #114
OK. I agree with the 1.0 milestone.

[2015-01-17 15:19] jgodi commented on #96
@ArloL Did you fixes fix this issue? I do not have access to IE8 so I cannot test it.

[2015-01-17 15:20] jgodi commented on #114
I will put the labels on the Demo for the 0.9 release though, so people will know.

[2015-01-17 15:21] ArloL commented on #96
Yes, any one of the three fixes would have done it. All three even better.

On a sidenote: I use a modern.ie VM in VirtualBox for testing IE 8 which works great (including classic dev mode).

[2015-01-17 15:22] jgodi commented on #96
Thanks!

[2015-01-17 15:33] #96 closed

[2015-01-17 15:34] jgodi commented on #96
Ha, didn't mean to open/close again. Cat jumped on keyboard :P

[2015-01-17 15:35] ArloL commented on #96
Too good to be true :smile:

[2015-01-19 09:48] crevete commented on #85
@zlamalp Can you make the changes ASAP ?

[2015-01-19 12:20] jgodi commented on #85
```<inherits name="org.gwtbootstrap3.GwtBootstrap3Base"/>```

Will work too.

[2015-01-19 12:21] jgodi commented on #71
Closed via: https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/110

[2015-01-19 12:21] #71 closed

[2015-01-19 12:22] jgodi commented on #68
Closed via: https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/110

[2015-01-19 12:22] #68 closed

[2015-01-19 12:22] jgodi commented on #69
Closed via: https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/110

[2015-01-19 12:22] #69 closed

[2015-01-19 12:53] jgodi commented on #85
Added it for you, thanks for the help! We appreciate it. Demo looks great!

[2015-01-19 12:54] #85 closed

[2015-01-19 13:34] jgodi commented on #32
Any update on this? Still cannot replicate this issue.

[2015-01-19 13:41] jgodi commented on #80
To correctly change the format after the DateTimeBox has been loaded you must call:

[code]

I will update the demo to reflect this. Thanks!

[2015-01-19 13:41] #80 closed

[2015-01-19 13:48] #56 closed

[2015-01-19 13:57] jgodi opened #117 "Update Slider"
Slider needs to be updated to: https://github.com/seiyria/bootstrap-slider with new features being supported.

[2015-01-19 13:58] jgodi opened #118 "Update Summernote to latest version"
Update summernote to the latest version and support any new features.

[2015-01-19 13:59] jgodi opened #119 "Update Switch to latest version"
Update switch to latest version and support any new features

[2015-01-19 13:59] jgodi opened #120 "Update select to latest version"
Update the select to the latest version and support any new features

[2015-01-19 14:00] jgodi opened #121 "Update FullCalendar to latest version"
Update the FullCalendar to the latest version and support any new features

[2015-01-19 14:01] jgodi opened #122 "Update Bootbox to latest version"
Update Bootbox to the latest version and support any new features

[2015-01-19 14:03] jgodi commented on #114
Added the note. Opened issue https://github.com/gwtbootstrap3/gwtbootstrap3-extras/issues/117 to switch over to the new, active slider.

[2015-01-19 14:03] #114 closed

[2015-01-20 03:54] snowe2010 commented on #32
No, I was moved to a different team not using the extras about a month after the last post. I wasn't able to ever figure it out. You can probably close it. I'll open it if I ever come across this problem again.

[2015-01-20 12:24] #32 closed

[2015-02-02 03:50] mharray opened #125 "GrowlOptions no longer instaniatable"
commit b806b67188732132dcd62a4daae6b5d63bf92958 removed the 'unused' GrowlHelper, however it was being used as a convenience function to instantiate GrowlOptions. So wondering if there was any further reasoning behind this, or if it's ok to re-commit that file - or move that code to GrowlOptions.java which probably makes more sense

[2015-02-02 13:57] jgodi commented on #125
With all the changes/improvements to the Growl wrapper, it was no longer needed since a lot of the options have changed and become more robust. If you still need this Helper method, it seems more on a project by project basis because your base Options will be different than others.

[2015-02-02 21:08] mharray commented on #125
Thanks for the reply. So how do we create a GrowlOptions instance? There's no constructor or factory methods, and it no longer extends JavaScriptObject, so I can't see a way to actually use it

[2015-02-03 22:08] 0x3333 opened #126 "Collapse should be able to be created expanded."
If you use a Collapse with toggle = true when it is loaded it should not animate the expansion.

In the onLoad() method there is a call to:
[code]
We should change to:
[code]
This way the element will be presented already expanded. In case the user wants it to be animated, he should call ```show()```.

Here is a demo of plain bootstrap behaviour: http://jsfiddle.net/uf61hdv2/1/

[2015-02-03 22:16] ArloL commented on #126
Thanks for your report.

Are you talking of this class: https://github.com/gwtbootstrap3/gwtbootstrap3/blob/master/gwtbootstrap3/src/main/java/org/gwtbootstrap3/client/ui/Collapse.java?

I think you might have the wrong repository here. Would you mind opening a new issue at the correct repository: https://github.com/gwtbootstrap3/gwtbootstrap3/issues

Or even better: open a PR with your fix but us

[2015-02-03 22:19] 0x3333 commented on #126
Sorry, my bad, wrong repository.

I'll open a PR.

Thanks.

[2015-02-03 22:19] ArloL commented on #126
Great!

[2015-02-03 22:28] 0x3333 commented on #126
https://github.com/gwtbootstrap3/gwtbootstrap3/pull/296

[2015-02-03 22:28] #126 closed

[2015-02-05 21:37] jgodi commented on #5
https://github.com/gwtbootstrap3/gwtbootstrap3/pull/306, when this is merged in I will be closing this.

[2015-02-05 22:15] jgodi commented on #5
Closing this, as we have the Suggest Box wrapped.

[2015-02-05 22:15] #5 closed

[2015-02-06 00:50] payammeyer commented on #5
Excellent, thank you guys so much for the great work.

[2015-02-14 07:34] crevete commented on #125
@mharray
You can see examples here : http://gwtbootstrap3.github.io/gwtbootstrap3-demo/snapshot/#growl .
You can instantiate it like this : ```new GrowlOption()```. I was also wondering why GrowlOption does not extend JavaScripObject, but it works fine...

[2015-02-14 08:07] crevete opened #132 "ValueChangeEvent consistently fired when calling ToggleSwitch.setValue(value)"
When calling the ```ToggleSwitch.setValue(Boolean value)``` or ```ToggleSwitch.setValue(Boolean value, false)``` methods, the ```ValueChangeEvent``` will be consistently fired due to a JSNI issue (cf. http://www.bootstrap-switch.org/methods.html) :
[code]

In fact, this method should take a third argument ```skip``` (defaults to ```false```) to decide whether to or no to fire the bootstrap switch

[2015-02-14 22:36] #132 closed

[2015-02-15 01:55] biancashouse opened #134 "Growl console logging"
You left this debugging code in the distribution:

    public static final native Growl growl(final String message, final GrowlOptions options) /*-{
        console.log(options);
        return $wnd.jQuery.growl({ message: message }, options);
    }-*/;

[2015-02-15 04:53] #134 closed

[2015-02-15 22:01] crevete commented on #117
@jgodi Is this the same as #93 ?

[2015-02-15 22:52] jgodi commented on #117
Yep, ty

[2015-02-15 22:52] #117 closed

[2015-02-16 23:18] mharray commented on #125
thanks crevete, I swear that wasn't working for me when I first raised the issue, but all working now :)

[2015-02-16 23:18] #125 closed

[2015-02-17 17:37] crevete commented on #119
I will make a PR for switch due to a critical bug : when creating a new toggle switch, it ALWAYS displayed with "ON" state even if the initial checkbox or radio button is not checked. I've spent many time to debug it, and the last version 3.3.2 gets it fixed.

[2015-02-18 02:31] #119 closed

[2015-02-18 09:20] crevete commented on #119
Do you really want to close this ticket ? maybe leave this open util the next release ?

[2015-02-18 09:28] ArloL commented on #119
You have a good point. So far we have always closed issues once they are on master.

I prefer a seperate develop branch myself. That is merged into master when released. This actually works really nice with GitHub. Since it then automatically closes the appropriate issues once they hit master.

What do you think @jgodi ?

[2015-02-18 12:08] jgodi commented on #119
I prefer to close the issues once they are complete so that I can use the Milestone to track progress for the next release. I want to make faster releases, so that will be critical.

I think @crevete was suggesting that before the next release there will be more releases of the Switch Toggle, so we can always keep it updated.

As for the develop vs. master, I prefer master reflecting the next rele

[2015-02-18 12:36] crevete commented on #119
@jgodi That's exactly what I mean.

[2015-02-18 12:44] ArloL commented on #119
Is there some way to track our dependencies?

Maybe something like https://david-dm.org/ can help.

[2015-02-18 13:00] jgodi commented on #119
I can look into it. Do you mind creating an issue to better track it? I will be busy until the weekend.

[2015-02-18 13:57] ArloL commented on #119
Sure.

[2015-02-18 13:58] ArloL opened #136 "Make tracking of dependencies easier"
We currently have no automatic way to see whether the dependencies are out of date.

Maybe we can leverage something like https://david-dm.org for this.

[2015-02-22 21:26] crevete commented on #93
@jgodi  FYI, I'm working on it now (version 4.5). Hope that will be done for incoming days.

[2015-02-23 06:31] mainFC opened #137 "DateTimePicker day/month/year/decade navigator shows odd behaviour"
Version 0.8.1 built the navigator arrows as icon tags, "i class="glyphicon glyphicon-arrow-left"".  However, v0.9 builds them as span tags, "span class="glyphicon glyphicon-arrow-left"".  When they use a span the navigation does not work.  It does something odd with the "switch" functionality instead.  You can use the navigation correctly if you are VERY CAREFUL and click the TH entry surrounding

[2015-02-23 17:00] strackam opened #138 "DateTimePicker setFormat - mapping is invalid"
There is something wrong when using a format with month in text (long date format).
It should work with "dd MM yyyy" as explained in the doc (http://www.malot.fr/bootstrap-datetimepicker/#options).
But the "MM" part is not mapped correctly to initiate the dateTimeFormat (should be translate to "dd MMMM yyyy").

It doesn't fails when using setValue because hopefully the DateTimeFormat.parse underst

[2015-02-24 09:07] eliovir commented on #93
@crevete I do not manage to hide a slider. Can you see if the attribute `visible="false"` or the method `.setVisible(false)` work with the new version? If not, I'll open another issue.

[2015-02-24 16:07] sb302 commented on #137
I ran into this issue after upgrading from 0.8.1 to 0.9. Per https://github.com/smalot/bootstrap-datetimepicker/issues/313, the issue is with the minified version bootstrap-datetimepicker.min.js. I took bootstrap-datetimepicker.js, minified it and overwrote bootstrap-datetimepicker-2.3.1.min.cache.js in my project. That appears to have fixed the bug for me.

However, I ran into another bug - https

[2015-02-24 16:17] crevete commented on #93
The ```setVisible``` method is based on the ```<input>``` element ; but it does not take effect on the initialized slider element (```<div>```):

A generated slider is something like this :
[code]

So in the new version, it would better to override the ```setVisible``` and ```isVisible``` methods to make it work. Thanks for your input !

[2015-02-25 12:16] Fraternel opened #139 "Select missing resource since v9.0"
Since **Select** extra widget has been released to **v9.0** a **resource file is missing**:
*bootstrap-select-1.6.3-js-map*
Maybe missing file extensions includes in GWT module?

Steps to reproduce:
1. Go to [GwtBootstrap3 Demo](http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#select)
2. You will get this in the console:
![2015-02-25_12-18-53](https://cloud.githubusercontent.com/assets/7210601/6

[2015-02-26 19:30] eliovir commented on #93
@crevete, thanks for your explanation. Do you want I write a new issue?

Which ''bootstrap-slider'' will you use? [Yours](https://github.com/crevete/bootstrap-slider), [seiyria's](https://github.com/seiyria/bootstrap-slider), [eyecon's](http://www.eyecon.ro/bootstrap-slider/) ?

Will it support range selector?

[2015-02-26 20:10] crevete commented on #93
@eliovir No, you don't have to write a new one, it will be fixed in the new version.
The slider I use is seiyria's, not mine :-) The current version is based on the eyecon's one I guess.
Yes, it supports range slider. Actually the new version contains 2 sliders : one with numeric value, one with range support.

[2015-02-27 08:11] eliovir commented on #93
Really nice. I'm waiting for the next version!

[2015-02-27 17:11] payammeyer opened #140 "DateTimePicker click on "Arrow" doesn't work"
Clicking on the arrow icon itself has odd behavior. Clicking slightly under the arrow does what it's supposed to do, but clicking the arrow itself does different things depending on your settings, i.e. if you have autoClose="true", it closes the picker. Noticed that the icon is a `<span>` element instead of an `<i>` element. Manually changing the element in chrome debugger fixes the issue.

[2015-02-27 18:02] joolsT1311 opened #141 "Select.deselectAll() does not work - since 0.9 release"
I've just upgraded an application from 0.8.1 to 0.9.

The deselectAll() method on the Select component no longer deselects items.

[2015-02-27 21:34] crevete commented on #141
@joolsT1311 maybe you are talking about this https://github.com/silviomoreto/bootstrap-select/issues/721 ? This is fixed in the version 1.6.4

[2015-02-28 01:34] mainFC commented on #140
This is the same issue I have raised in #137.

[2015-03-01 12:13] eliovir commented on #141
@joolsT1311 I've got the same problem. To workaround, I used `.setValue("")`.

[2015-03-03 10:19] joolsT1311 commented on #141
@eliovir Thanks for your suggestion - yes I've worked around the issue (not elegantly though as the setValue methods do not immediately change the selected values in the model - complex forms with inter-dependent fields suffer...). Will be good to get the fix in though - I think it may well be caused by the issue linked to by @crevete (thanks).

[2015-03-03 15:05] #93 closed

[2015-03-06 13:32] #120 closed

[2015-03-06 13:32] #139 closed

[2015-03-06 13:32] #141 closed

[2015-03-06 13:42] jgodi commented on #140
This is a bug in the underlying library that the DateTimePicker uses: https://github.com/smalot/bootstrap-datetimepicker/issues/313. When that is fixed and a new release, then we will update it.

[2015-03-06 13:44] jgodi commented on #137
This is a bug in the underlying library that the DateTimePicker uses: smalot/bootstrap-datetimepicker#313. When that is fixed and a new release, then we will update it.

I'd rather not patch the JS file because on upgrading we will then need to make sure to save all our patches if those fixes aren't in, etc. Just gets extremely messy.

Closing this as #140 will take care of it.

[2015-03-06 13:44] #137 closed

[2015-03-06 13:49] payammeyer commented on #140
How come the bug isn't present in their demo? Do they use a newer version of that library?

http://www.malot.fr/bootstrap-datetimepicker/demo.php

[2015-03-06 13:51] jgodi commented on #140
Their demo is using v2 of Bootstrap, they have auto detection to wrap out the templates in their JS. So we get the v3 versions of the templates, which have the spans.

[2015-03-06 13:51] jgodi commented on #98
This is a bug in the underlying library. https://github.com/smalot/bootstrap-datetimepicker/issues/33.

When that gets fixed, we will fix it on our end. Thanks!

[2015-03-06 13:52] payammeyer commented on #140
Ok got it, thanks.

[2015-03-10 21:08] mdavis95 opened #144 "Support Ajax File Uploader"
It would be nice to have support for https://blueimp.github.io/jQuery-File-Upload/ or similar.

[2015-03-11 20:12] legendwan opened #145 "Exception thrown from GrowlOptions's setType() method."
I am using extras release 0.9. When I call like this:
GrowlOptions go = new GrowlOptions();
go.setType(GrowlType.SUCCESS);

the setType method throw exception:
13:00:59.907 [ERROR] [ac] Uncaught exception escaped
com.google.gwt.event.shared.UmbrellaException: Exception caught: Exception caught: (null) @org.gwtbootstrap3.extras.growl.client.ui.GrowlOptions::setType(Ljava/lang/String;)([string: 'suc

[2015-03-11 20:24] legendwan commented on #145
I wonder how did it work in the demo application?

[2015-03-13 00:41] crevete opened #147 "Replace Growl 2.0.1 to Notify (Growl 3.0.0)"
Growl is now renamed to Bootstrap Notify cf. http://bootstrap-growl.remabledesigns.com/

[2015-03-13 15:13] mdavis95 commented on #140
Can this be used instead:
https://github.com/eternicode/bootstrap-datepicker

Seems to support bootstrap 3 in the demo:
http://eternicode.github.io/bootstrap-datepicker/

[2015-03-15 07:27] crevete commented on #145
@legendwan I'm just curious because it's always work for me. Can you please provide more details ?

[2015-03-15 15:10] #147 closed

[2015-03-15 15:10] jgodi commented on #140
Changing the base library that we wrap might be a bit of work, but I am game for switching if someone can create a PR for it.

[2015-03-15 15:13] jgodi commented on #144
I am in support for it, just personally I do not have time to wrap such a library. A PR will be greatly appreciated.

[2015-03-15 15:14] mdavis95 commented on #140
Fair enough, I will give it a try

[2015-03-15 21:36] crevete commented on #118
@jgodi FYI, this has been already updated to 0.6.2.

[2015-03-15 21:42] crevete opened #152 "Support for Bootstrap Spinner"
This is the best bootstrap spinner I've seen :
https://github.com/xixilive/jquery-spinner

It's much better than the wrapped slider which has too many bugs...
If I have time or someone else :-)

[2015-03-15 21:55] crevete commented on #140
@mdavis95 @jgodi or this one: https://github.com/Eonasdan/bootstrap-datetimepicker
I think this one is better.
Anyway, smalot/bootstrap-datetimepicker is not "alive", it should be replaced by something else.

[2015-03-15 23:55] mdavis95 commented on #140
@jgodi Do you have a preference? I can take a shot at either.

[2015-03-16 00:19] jgodi commented on #140
I like the one @crevete linked. If you are feeling over zealous you can try to fix the bugs for formatting and stuff too :)

Appreciate the help!

[2015-03-16 01:45] jgodi commented on #118
Good enough for me. Before a release I will make an issue to check all external libraries to make sure they are on the latest.

[2015-03-16 01:45] #118 closed

[2015-03-17 10:33] alexdobre opened #154 "Sumernote image embed/ drag and drop does not work"
The issue I have is when I want to upload or drag and drop an image file into the sumernote editor.
You can see the issue in the demo: https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#summernote
Just try to drag and drop or insert an image via upload into the editor. Nothing happens and the code view also remains unchanged.

Now go and do the same thing on http://summernote.org/#/ and you will

[2015-03-18 00:04] legendwan commented on #145
Just these two simple calls.
        GrowlOptions go = new GrowlOptions();
        go.setType(GrowlType.SUCCESS);

In GWT development mode, it outputs:

16:58:15.289 [ERROR] [ac] Uncaught exception escaped

com.google.gwt.event.shared.UmbrellaException: Exception caught: Exception caught: (null) @org.gwtbootstrap3.extras.growl.client.ui.GrowlOptions::setType(Ljava/lang/String;)([string: 'success']

[2015-03-18 00:11] legendwan commented on #145
For now, I have to use it like this:

        GrowlType gt = GrowlType.INFO;

        switch (type) {
            case SUCCESS:
                gt = GrowlType.SUCCESS;
                break;
            case ERROR:
                gt = GrowlType.DANGER;
                break;
            case WARNING:
                gt = GrowlType.WARNING;
                break;
            case INFO:

[2015-03-18 08:20] crevete commented on #145
@legendwan I think it's due to the GWT classic dev mode. Because the GrowlOption class does not extend JavaScriptObject, that causes this issue on runtime. I was surprised this works fine for me, it's just because I always use Super Dev Mode I guess, once compiled, this always works. The workaround would be to make GrowlOption extend JavaScriptObject and provide a static accessor like this:

[code

[2015-03-18 17:32] mdavis95 commented on #140
I tried to do the Eonasdan one but I have no luck.  I created a branch for it if anyone would like to continue (https://github.com/mdavis95/gwtbootstrap3-extras/tree/eonasdan).  It is quite different.

The eternicode version I was able to get working and created a pull request for it.  It is only a date picker instead of a date time picker however.

[2015-03-22 16:59] Sarkhee opened #157 "DateTimePicker ValueChangeEvent doesn't fire when manually changing a value"
The `ValueChangeEvent` of `DateTimePicker` only changes when calling `datePicker.setValue(new Date(), true)` but not when actually changing a value manually, then a `ChangeDateEvent` is fired instead.

When changing manually a `ChangeDateEvent` is fired but no `ValueChangeEvent`. This is really confusing. I can understand having `ChangeMonthEvent` and `ChangeYearEvent` but should `ChangeDateEvent`

[2015-03-23 15:28] mdavis95 commented on #90
This seems to be the fix for IE10+:
http://davidwalsh.name/css-flip

[2015-03-23 18:53] payammeyer commented on #122
Especially setting an HTML content would be very nice to have.

[2015-03-24 23:18] 0x3333 opened #158 "ToggleSwitch weird setValue"
In ToggleSwitchBase we have:

[code]

Both setValue check for isAttached, if not the first variant will set the value to the checkbox, so after attached it will be "transfered" to the Switch.

This Scheduler.get().scheduleFixedDelay could be changed to:

[code]

This way we don't create a unnecessary delay and avoid the scheduled command.

If you guys are ok with it, I can create a PR.

[2015-03-25 00:21] 0x3333 opened #159 "Typeahead should be typed"
Typeahead class is already typed(Typeahead<T>) but the setValue and getValue return a String. It should be of the specified type T.

[2015-03-25 18:51] crevete commented on #158
:+1:

[2015-03-25 22:56] jgodi commented on #158
+1

[2015-03-27 08:57] nkg753 opened #160 "Suggestion: nicer confirm popup"
Confirm popup is very useful feature and i used in almost all web applications.

Bootbox confirm (example: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#bootbox) works very well, but I found http://ethaizone.github.io/Bootstrap-Confirmation/ - it is nicer.

Can you implement it?

[2015-03-29 12:08] jgodi commented on #154
Yes, the summer note wrapper is a bit behind. If you have time, a PR would be greatly appreciated to get this back up and running!

[2015-03-29 12:09] jgodi commented on #159
+1

[2015-03-29 12:10] jgodi commented on #160
Having too many wrapped libraries under the 'Extra's' here will get dangerous. We already have the Bootbox. If you need something like this for your project I would suggest wrapping it yourself in your project and using it.

Thanks for the suggestion though!

[2015-03-29 12:10] #160 closed

[2015-03-29 12:19] jgodi opened #161 "v0.9.1"
Releasing new SNAPSHOTs now, waiting for end of week to release v0.9.1

[2015-03-29 12:29] jgodi commented on #161
New SNAPSHOT Demo Up: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/snapshot/

Please test during week if you can! (Might take a little bit to load :))

[2015-03-29 22:05] 0x3333 commented on #159
I'll create a PR soon.

[2015-03-30 13:57] 0x3333 commented on #158
I created a PR #162

[2015-03-30 14:10] #158 closed

[2015-04-01 09:26] manny73 opened #163 "DateTimePicker Tabbing error"
Hi,
with only Chrome, both in windows and in Mac, when tab over field the focus not go on the next field but re-begin from the first and loop.
You can test this 'possible bug' directly on the demo site: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

Thanks

Manny

[2015-04-01 15:15] sjardine opened #164 "Add validation support for DatePicker, DateTimePicker and Select"
DatePicker, DateTimePicker and Select are missing validation support.

[2015-04-01 18:57] crevete commented on #158
My bad, the code is wrong : The ValueChangeEvent is never fired if the switch is not attached. I realized this since my application has broken since this update...
Besides, it would better to call ```ValueChangeEvent.fireIfNotEqual()```rather than ```ValueChangeEvent.fire()```method.

[code]

[2015-04-01 19:24] crevete commented on #164
I cannot see why Select needs to be validated.

[2015-04-01 19:31] sjardine commented on #164
The only validator I think could be beneficial would be the BlankValidator.  An error would occur when a select is required, there is a blank default option, and the user doesn't complete the field.

[2015-04-01 19:47] entzik commented on #164
As per Steven's request I am adding some use cases for DatePicker validation I have posted on the Google group:
1) forms with "start date" / "end date" fields: these are quite common and generally we need to validate that the end date is past the start date, sometimes the start date must not be in the past or must satisfy other requirement such as being a legally working day
2) schedule editors: i

[2015-04-01 20:39] crevete commented on #164
@entzik on Select validation, I agree with you. Developers should do the necessary to "avoid" validation errors on select.

Personally I'm not fan to put validation support for widgets in gwtbootstrap-extra project. Theses widgets are not native HTML widgets, but just a wrapper of third-party JS library. The DOM structure may be changed when they are physically attached. Basically, some native GWT

[2015-04-01 21:05] 0x3333 commented on #158
The checkBox always have the switch value.

What if we just consider the checkBox, instead of switchState?

[2015-04-01 21:06] 0x3333 commented on #158
Anyway, the fix is great.

[2015-04-01 21:17] crevete commented on #158
@0x3333 Yes, the checkbox always have the switch value, but this is ensured by the toggle switch JS library. If one day they change this behavior, who knows :-) So it's always better to relay on the native API (if it is available) rather than based on our own hypothesis.

[2015-04-02 07:46] entzik commented on #164
fair enough, I'll work around this. thanks for looking into it.

[2015-04-02 14:31] sjardine commented on #164
I have spent a bit of time looking at the code for these and DatePicker and DateTimePicker use a TextBox as the input field which already has validation support.  I really don't see how we are adding any layers by exposing the validation functions of the underlying TextBox.

As far as Select goes, I concur with @crevete and @entzik.  We should just leave it as is.

[2015-04-05 04:09] koljascasino opened #166 "FullCalendar no longer works"
In the v1.0-SNAPSHOT demo, clicking on the Run Example button throws a java script error.
`Uncaught ReferenceError: moment is not defined`

Could be related to a missing entry point class entry in _FullCalendar.gwt.xml_ which was removed in
478a5bbc5a9c9bd27fe43a1f936c9ce178056a16, not sure why this was removed.

[2015-04-05 14:43] jgodi commented on #166
Good catch, I will fix this today.

[2015-04-07 11:30] crevete commented on #164
It seems that DataPicker and DateTimePicker auto-validate it's value (on the demo page). Wrong values are automatically converted to valid ones. In this case, why you want to add validation support ?

[2015-04-07 13:43] sjardine commented on #164
I can see a number of use cases where a validated date is important.  In my business, transportation,  we have several required dates, some cannot be in the future, some cannot be in the past, some must be a specific day of the week (ex: Friday).  Also, the JSR-303 bean validation provide annotations for Future and Past on Date and Calendar types.  Without validation support, we would not be able

[2015-04-07 14:25] jgodi commented on #166
https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/167 fixes it

[2015-04-07 14:25] #166 closed

[2015-04-07 14:29] remarkNS commented on #164
I agree with @sjardine that date validations are important.

[2015-04-08 09:41] remarkNS commented on #163
It happens because in onHide(final Event e) of DateTimePickerBase class, focus has been removed from textBox. If you want it to stay there (to tab to next field) override this method in your class and instead of textBox.setFocus(false) put getTextBox().setFocus(true); BTW the same thing happens with DatePicker, you can solve this the same way.

[2015-04-08 11:20] jgodi commented on #164
+1

[2015-04-08 11:20] jgodi commented on #163
Now the question is, is this a suitable solution or should we try to address this?

[2015-04-08 11:22] jgodi commented on #161
Sorry, my plan was to do this last weekend but could not find the time. Hopefully soon! Sorry :(

[2015-04-08 11:49] crevete commented on #164
@sjardine you are talking about functional validation but I just think about syntax validation. Well, why not, if the original textbox is not modified by the native JavaScript library. But beware anyway!

[2015-04-12 07:17] crevete commented on #145
@jgodi  I think this could be closed, since Growl 2.0.1 is now obsolete and Notify works fine. And I would better to remove Growl from the extra project and the demo page

[2015-04-13 17:45] jgodi commented on #145
Works for me, I will make an issue to remove Growl before the 1.0 release. Thanks!

[2015-04-13 17:45] #145 closed

[2015-04-13 17:47] jgodi opened #168 "Remove Growl"
We now have Notify, no longer need growl.

Remove from the demo as well.

[2015-04-13 18:01] payammeyer opened #169 "Slider ClassCastException problem"
I tried using the new version of the Slider in the 1.0 SNAPSHOT and ran into a ClassCastException issue when I tried to assign the event.value (number) to a Double value. This only throws an exception if you try to assign the value. So my use case is:

[code]

The following works with no issues which is why the problem may not be noticed in the demo:

[code]

I got around the issue by doing this b

[2015-04-13 18:01] jgodi commented on #161
Done, should be out on maven central soon.

[2015-04-13 18:01] #161 closed

[2015-04-14 08:31] crevete commented on #169
Good catch!

[2015-04-21 09:55] flirtomania opened #172 "Notify notifications are shown behind modals."
White opened modal and green notification behind it.

![modal over notification](https://cloud.githubusercontent.com/assets/6590011/7249774/8398e424-e825-11e4-9890-16d48f0d1015.png)

[2015-04-22 23:41] jgodi commented on #169
Fixed thanks to @crevete

[2015-04-22 23:41] #169 closed

[2015-04-30 10:27] ahumellihuk opened #175 "Update Notify version - 3.0 doesn't allow hiding progress bar"
Notify 3.0.1 introduced new setting 'showProgressBar' that is used to control whether to display progress bar underneath the notify popup

[2015-05-01 10:14] ahumellihuk opened #176 "Notify entry point bug in classic DevMode"
When GWT module inherits Notify and the app is run in classic DevMode the app throws an Exception saying that "Something other than a boolean was returned from JSNI method". The method that throws it is `NotifyEntryPoint.isNotifyLoaded()`.
It needs to be changed to be exactly like the one in `GrowlEntryPoint`:
`if ($wnd.jQuery && $wnd.jQuery.notify) {`
`return true;`
`} else {`
`return false;`
`}`

[2015-05-01 12:00] jgodi commented on #176
Able to submit a PR for this?

[2015-05-01 12:00] jgodi commented on #175
Are you able to submit a PR for this?

[2015-05-01 13:24] ahumellihuk commented on #176
Will do later

[2015-05-01 13:25] ahumellihuk commented on #175
Will do later

[2015-05-03 14:52] crevete commented on #172
@jgodi @flirtomania No this is not a bug. The default z-index value of the Notify library is 1031, smaller than bootstrap modal z-index.
You just need to change the zIndex settings to override the default one :
[code]

[2015-05-03 15:38] crevete commented on #176
@jgodi @ahumellihuk I've never tested with classic dev mode. So this may be closed ?

[2015-05-04 00:07] #175 closed

[2015-05-04 00:07] #168 closed

[2015-05-04 00:08] jgodi commented on #172
Thanks for investigating and commenting.

[2015-05-04 00:08] #172 closed

[2015-05-04 00:08] #176 closed

[2015-05-04 06:56] biancashouse opened #179 "Growl has been removed ?"

[2015-05-04 07:15] biancashouse commented on #179
Looks like the extra has been renamed Notify.

Growl.growl(...) -> Notify.notify(...)
GrowlOptions -> NotifySettings
GrowlOptions.setPosition(GrowlPosition... -> NotifySettings.setPlacement(NotifyPlacement...

So phew !

[2015-05-04 12:49] jgodi commented on #179
Yes, Growl was removed in favor of the Notify. Didn't make sense to have both.

[2015-05-04 12:49] #179 closed

[2015-05-05 06:45] biancashouse commented on #179
Quite right.

BTW - I'm starting to use flexbox more and more, and was wondering if
bootstrap and/or your gwt-bootstrap will be integrating it any time soon ?

On Mon, May 4, 2015 at 10:49 PM, Joshua Godi <notifications@github.com>
wrote:

[2015-05-05 14:25] jgodi commented on #179
Since we are a wrapper for Bootstrap, whatever they use then we will use. I am not sure in Bootstrap4 if they are planning to use flex box or not, but they are overhauling the grid system, so maybe.

[2015-05-07 09:02] martinmatthias opened #180 "DateTimePicker highlights wrong month as "active""
DateTimePicker highlights the wrong month as "active" (blue background). This can be seen in the demo as well - if you click on "May 2015", you`ll see "March" highlighted, which is obviously not correct.
It seems, that the highlighted month is always 2 months "behind" the month actually set. If I set a date in July, May is highlighted as "active" month afterwards.
This is no functional issue, but

[2015-05-11 17:57] payammeyer commented on #144
I'm having a stab at this, will send a PR if/when I get it done.

[2015-05-29 08:36] ahumellihuk commented on #138
I would recommend merging pull request https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/182, which would solve this problem.

[2015-06-01 11:34] jgodi commented on #180
Can you see if this bug is in the base JS library?

[2015-06-01 11:35] #138 closed

[2015-06-03 16:38] #157 closed

[2015-06-03 16:38] #164 closed

[2015-06-03 17:06] Unimax commented on #140
why no work is done on datetimepicker from http://eonasdan.github.io/bootstrap-datetimepicker/
@mdavis95 i would like to try ur approach, what are the issue u faced for time-picker? as u seem to already done the date-picker.
a similar demo can be found on http://svenjacobs.github.io/gwtbootstrap3/ who seems to ported a older version , can start from there or from scratch.

[2015-06-03 17:30] jgodi commented on #140
We currently have a [DateTimePicker](http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker) implemented. But this uses an older [version](http://www.malot.fr/bootstrap-datetimepicker/) of a Bootstrap DateTimePicker JS Library. If you would like to replace our implementation with the one you linked that would be excellent!

[2015-06-03 18:30] erik360 opened #185 "Slider: SliderOption.getDataAttribute() returns incorrect attribute name"
`SliderOption.getDataAttribute()` should replace underscores ( _ ) in the attribute name with dashes ( - ). This function is used in many places and where the data attribute name is underscored, like `tick_labels`, the correct data attribute is `data-slider-tick-labels`. This breaks functions such as `setTicksLabels` when called before the slider is attached to the DOM (ie during initialization).

[2015-06-03 19:43] mdavis95 commented on #140
I don't remember what the issue I had was to be honest but here is the branch I was working on:
https://github.com/mdavis95/gwtbootstrap3-extras/tree/eonasdan

[2015-06-03 21:06] flsobral opened #186 "DatePicker.setValue with fireEvents should fire ChangeDateEvent"
DatePicker doesn't work well with ValueChangeHandler, so we must use a ChangeDateHandler to handle value changes when the user clicks on the calendar.
IMO manually setting the date using setValue and fireEvents should fire a ChangeDateEvent instead of a ValueChangeEvent.

[2015-06-03 23:44] Unimax commented on #140
@jgodi i know the JS Library difference but needed info on issue faced while writing the wrapper may be because of the moment.js requirement or new events or options . There shouldn't be any issue change (replace) the datetimepicker's JS and writing the wrapper function similar to what currently exits. A heads up would be helpful.

[2015-06-07 01:21] Unimax commented on #140
@jgodi please check out https://github.com/Unimax/gwtbootstrap3-extras which have a working GWT wrapper i wrote. changed the required resources as well . Will be expecting some refactoring by you and merging into main/master build .
![work](https://cloud.githubusercontent.com/assets/4117562/8022225/9f297b5a-0ce1-11e5-90e1-e3316db2c1aa.png)

[2015-06-07 03:24] mdavis95 commented on #140
I merged master into my fork.
https://github.com/mdavis95/gwtbootstrap3-extras

[2015-06-08 14:05] martinmatthias commented on #180
Hi there,

actually I found out this: smalot/bootstrap-datetimepicker/issues/277
Looks like the proposed Fix has never been contributed to the project, what a shame.
The project looks quite dead. I`m in doubt that this will be fixed ever. ;(

[2015-06-11 22:47] mtraum commented on #163
The problem with this workaround is it makes autoClose impossible, because you set the focus and then it pops up the picker again.

To work around that, I did this:
[code]

[2015-06-11 23:28] mickaelbaron opened #188 "Set the language of DatePicker is failing"
Hi,

I use DatePicker extra component into my application. When i change the language to french (during the construction of my view) the injection of the language JS failed.

[code]

From the console of my browser i have this exception

[code]

As the injection is failed, the language of DataPicker is always in english.

Is there a workaround to fix this problem ?

Thanks

Mickael

[2015-06-12 16:23] mickaelbaron commented on #188
Hi,

I've noticed when my DatePicker objects are initialized JQuery is not.

Actually my workaround is to change language and format of DatePicker once the instantiation of the view is made. It's sad but it's woking.

I don't understand when JQuery is initialized with gwtbootstrap3 ?

Mickael

[2015-06-21 21:27] crevete commented on #185
@erik360 You are right; But their documentation is not very clear...

[2015-06-22 15:06] eliovir opened #190 "Open Typeahead suggestion on click"
Hi!

I need to open suggestions when user clicks in the textbox. I did not find this in the current API.

According to [typeahead.js API](https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#jquerytypeaheadopen), there is a way to open and close suggestions.

I'm not sure how to implement this.

In [src/main/java/org/gwtbootstrap3/extras/typeahead/client/ui/Typeahead.java](h

[2015-06-25 11:24] #185 closed

[2015-06-25 18:52] AusME opened #191 "Attribute maxOption on control Select does not appear to work"
maxOption on Select does not prevent a user from selecting elements above the amount specified by the maxOption property.
I can not get maxOption to work on .90. See below for sample XML control definition:

<select:Select multiple="true" liveSearch="true" ui:field="states" b:id="states" maxOption="5" />

[2015-06-29 16:47] netogildo commented on #154
I managed to fix this by changing the summernote-0.6.2.min.cache.js file on line 1809 (I took the line by http://jsbeautifier.org/ ), which had "f.onImageUpload ? f.onImageUpload(c, h, e) : a.each(c, function(a, b) {" I edited and put just "a.each(c, function(a, b) {" then I replaced the file inside gwtbootstrap3-extras-0.9.1.jar and it worked for me.

[2015-07-01 14:38] eliovir opened #192 "Select.setLanguage() escapes title attribute"
Locale strings of Select contain HTML escaped characters, for example the French translation [in GWTBootstrap3](https://github.com/gwtbootstrap3/gwtbootstrap3-extras/blob/master/src/main/resources/org/gwtbootstrap3/extras/select/client/resource/js/locales.cache.1.6.4/defaults-fr_FR.min.js) as well as [in original library](https://github.com/silviomoreto/bootstrap-select/blob/master/js/i18n/default

[2015-07-15 00:20] worknperk commented on #176
This defect is still an issue.

[2015-07-15 01:06] jgodi commented on #176
Super dev mode is the best practice so not sure if the time or effort should be placed into this.

[2015-07-20 16:55] payammeyer opened #195 "Cards don't work in Firefox"
When the trigger icon is pushed, the front gets inverted (mirrored?) and is still visible while the back is also visible:
![image](https://cloud.githubusercontent.com/assets/9900587/8781604/0d38022e-2ede-11e5-8d05-54573d2d15c5.png)

I went as far back as Firefox 31 and they all behave the same way.

[2015-07-20 16:59] payammeyer commented on #90
I can confirm that the following CSS addition works for us in IE 10+:

[code]

[2015-08-03 08:13] stentrop opened #197 "Fullcalendar language change"
Hi,
set language to german (or other languages) works good. But if i change some other options like durationtimeslot or min/max time the language falls back to  englisch.

[2015-08-03 08:18] stentrop opened #198 "Fullcalendar content crash"
Hi,

i want to load the Fullcalendar without click the "Run Example" button. I try to build this opportunity but the calendar has not the ready format so it looks bad. If i click some button (next month or something like that) the format is correct and the calendar is okay.

What i have to do for display the calendar in correct format by initialzation ?

[2015-08-09 00:06] worknperk commented on #145
We should mark the Growl library as "Deprecated".

[2015-08-18 12:34] jgodi opened #200 "Looking for help maintaining this library!"
If you are interested please get in touch with me. Both @svenjacobs and I are very busy in other project and would appreciate some help!

Thanks!

[2015-08-19 13:27] #200 closed

[2015-08-24 21:59] #188 closed

[2015-08-25 08:09] mickaelbaron opened #203 "DatePicker: popup closing when value change from textbox"
Hi,

I found a strange behaviour when the user changes the value of the date from the textbox. For each modification from the textbox, the popup is closing. I think is a bad idea.

I fix this ui problem by overiding the DatePickerBase#onChangeDate method. Here is the new code
[code]

What do you think about this workaround ?

Mickael

[2015-09-14 06:04] dharezlak opened #205 "Use an alternative slider namespace name in case slider is already taken"
Have a look at: https://github.com/seiyria/bootstrap-slider#what-if-there-is-already-a-slider-plugin-bound-to-the-jquery-namespace

[2015-09-14 22:00] sjardine commented on #205
Would you be willing to submit a PR for this?

[2015-09-15 11:35] dharezlak commented on #205
I will try to implement it by the end of this week.

[2015-09-15 18:34] manstis opened #206 "DatePicker: HasFormat be consistent with GWT's DateTimeFormat"
Hi,

I found ```DatePicker.HasFormat``` patterns are inconsistent with GWT's ```DateTimeFormat``` patterns; most particularly (for my use-case at least) ```M```. GWT-BS3 processes ```M``` as "short textual representation of a month, three letters" (e.g. "Jan") whereas GWT would give the numeric month number (e.g. "1"). This is troublesome where I wish to show a ```Date``` in a ```DatePicker``` in

[2015-09-16 22:21] sjardine commented on #206
There is not a mapping utility.  Would you be willing to provide a PR for this?

[2015-09-16 22:26] sjardine commented on #203
The whole point of the dialog is for the use to select a date.  I think hiding the dialog when a date is more intuitive.  I don't think we should change this.

@crevete What do you think?

[2015-09-16 22:28] sjardine commented on #195
Would you please provide some sample code?  I would suggest forking https://github.com/gwtbootstrap3/gwtbootstrap3-sample-app and then creating a view that showcases the problem.

Thanks!

[2015-09-16 22:35] manstis commented on #206
I will be writing something to suit our needs and will happily submit it as
a PR. Do I need to sign a Contributor Agreement or anything (our, Red Hat,
legal department would need to agree). Do you also have a particular place
for tests?
On 16 Sep 2015 23:21, "Steven Jardine" <notifications@github.com> wrote:

[2015-09-16 22:46] sjardine commented on #206
No contributor agreement necessary.  All code in this repository is governed by the Apache 2.0 license.  Thanks!

[2015-09-17 10:18] crevete commented on #203
@sjardine I think hiding the dialog is necessary because when user changes the value in the textbox, nothing guarantee the input is valid, in this case the popup cannot display the correct date. So for now, I think the behaviour is normal.

[2015-09-17 11:50] mickaelbaron commented on #203
Thanks for your responses. But i keep my workaround ;-)

Mickael

[2015-09-17 19:41] crevete commented on #203
@mickaelbaron as you wish :-)

[2015-09-18 15:02] payammeyer commented on #195
I'm not sure if I understand what you mean. If you just use the current demo for Cards (https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#card) in Firefox, you'll see the issue I'm referring to here. I confirmed that it's not something on the recent version of Firefox and went as far back as Firefox 31. Does that make sense?

[2015-09-18 17:19] sjardine commented on #195
Yes.  This is a verified bug from Mozilla.  I will apply the fix.

[2015-09-18 17:34] #195 closed

[2015-09-23 01:11] Unimax commented on #140
This is the stable gwtwrapper of datetimepicker from http://eonasdan.github.io/bootstrap-datetimepicker/ i am using in my product . Due to less time and little trouble syncing data to my github repo sharing the link of the zip:
https://drive.google.com/open?id=0B6muGxiVGecSdFJFSVhwNlpDYnM
Note not all feature works but all required feature works. I was hoping it could be part of the mail product a

[2015-09-23 20:21] BenDol commented on #164
My having validation on the Select widget is important in the use case with Multiselect enabled, where you have the option not to select anything. That was what I needed it for anyway.

[2015-10-06 14:12] gmsa opened #221 "Growl removed from extras?"
Was the growl package removed from the master branch? Why?

[2015-10-06 14:15] #221 closed

[2015-10-06 14:15] gmsa commented on #221
Sorry, didn't see this was already answered

[2015-10-07 12:21] bbbalabhaskar opened #223 "unable to use select"
I am getting following error when i'm using select

Uncaught com.google.gwt.user.client.ui.AttachDetachException: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: (TypeError) : $wnd.jQuery(...).selectpicker is not a function

[2015-10-07 20:38] crevete commented on #223
Can you please provide a sample code?

[2015-10-08 04:25] bbbalabhaskar commented on #223
I have done nothing new
I added dependency in my pom, and my gwt.xml file,

but when I add select like below i got that error, can you help me
<select:Select>
  <select:Option text="..."/>
  <select:Option text="..."/>
  <select:Option text="..."/>
</select:Select>

i am using gwt 2.7

[2015-10-13 08:53] zak-kun opened #225 "Event TimeFormat"
Hi, I'm using FullCalendat and i want to know how to set event time format to 24H instead of 12h.

Thanks.

[2015-10-13 22:54] crevete commented on #223
maybe jQuery is load loaded ? Or you can check out our demo project. There are some working examples.

[2015-10-14 04:42] bbbalabhaskar commented on #223
I'm very sure that jQuery is injected in in window as i am doing it manually in other place for some native js implementation regarding canvas.

BTW thanks, for responding and all the other features are working without any problem.

[2015-10-14 04:46] sjardine commented on #223
This error looks like jQuery is getting loaded multiple times. Which module are you adding to your gwt.xml?

[2015-10-14 04:49] sjardine commented on #223
Also, its impossible for us to troubleshoot a problem we cannot see. Please fork the gwtbootstrap3-sample project and modify it so it exhibits your problem. Then we can troubleshoot much easier.

[2015-10-15 05:05] bbbalabhaskar commented on #223
Thanks for suggestion i could be able to resolve the problem, and as you said it was due to reason that jQuery is injecting multiple times and i think issue can be closed.

[2015-10-15 05:28] #223 closed

[2015-10-15 14:24] VitaliyKulikov opened #226 "Animate.animate is not wrking as expected"
possiably not issue, but need rework.

**usage**: ```Animate.animate(button, Animation.FLASH, -1, 2000, 5000);```
**expected**: infitive animatation with delay 5000ms before every 2000ms of animation
**actual**: delay 5000ms only once before infitive animatation

[2015-10-19 08:55] bbbalabhaskar opened #227 "Multiple inherits causing problem"
Previously I had an issue with select in extras which caused due to multiple injection of jQuery in browser window. I am facing same issue when i inherit multiple modules in my gwt.xml file. I would like to know if there is any other way to include multiple modules without any problem.

[2015-10-19 14:34] sjardine commented on #227
Personally, I prefer to manually inject resources instead of automatic injection. Just inherit the "NoResources" modules and then add script/css tags to your html file(s).

[2015-10-20 21:14] crevete commented on #227
In your module EntryPoint file, you should do something like this to ensure the jQuery is not injected several times:
[code]

[2015-10-21 05:14] bbbalabhaskar commented on #227
It was nice to hear two suggestions, I would like to tell you that in my project I am doing the way you said(injected jQuery like you said), and is working fine. But my problem is when I am including more than one module of your extras in my project. for me possible way is to inherit noResource, Thanks.

[2015-10-21 05:23] bbbalabhaskar commented on #227
I am unable to check code of Notify widget in your source available. I would like to know if it is removed I'm getting problem when I'm using it.

[2015-10-21 21:47] sjardine commented on #227
Both the gwtbootstrap3 and gwtbootstrap3-extras jar files should contain the source otherwise gwt wouldn't compile.

[2015-10-21 21:47] sjardine commented on #227
Both solutions to the multiple inheritance problem should work.  Closing...

[2015-10-21 21:47] #227 closed

[2015-10-21 21:51] sjardine commented on #225
CallendarConfig#setTimeFormat()

[2015-10-21 21:51] #225 closed

[2015-11-06 10:41] samarhxc opened #235 "Color picker"
Hello,
i'm looking for a way to insert a color picker.
This feature is in your roadmap ?

[2015-11-20 19:13] ryphoenix commented on #191
+1

[2015-11-20 22:33] crevete commented on #235
Not yet, but if you can make a PR, that would be great. But before you start, please let us know which JS library you want to wrap. Thanks

[2015-11-22 16:14] #191 closed

[2015-11-22 18:18] crevete commented on #192
@eliovir I've just tested with the last version of select, the issue DOES OCCUR in the original library. The problem is in the ```defaults-fr_FR.min.js```. They should not use accented characters (```Aucune sélection```) rather than HTML entities (```Aucune s&amp;eacute;lection```). The best solution is to create an issue in the original library. But for our library, we could fix the translation f

[2015-11-22 18:35] #192 closed

[2015-11-22 22:20] rmjohn08 commented on #176
So this plugin cannot be use in classic dev mode? Really liked it but i like classic dev mode for development.

[2015-11-22 22:24] davidbuhler commented on #176
You can usr the gwtbootstrap3 library with classic dev mode, but to do so, you need to run FireFox 24 ESR and Eclipse Luna.

I'm not sure about Intellij support for Classic Dev Mode, but he FireFox part would still hold true.

[2015-11-22 22:54] rmjohn08 commented on #176
Hello David,
I am trying the Notify extra within the gwtbootrap3-extra. I have
downloaded FF 24.2 esr and working on Luna with gwt 2.6.1

I am getting an exception onModuleLoad () NotifyEntryPoint

Something other than a boolean was returned from JSNI method @
org.gwtbootstrap3.extras.notify.client.NotifyEntryPoint.

If i do SuperDevMode it loads.
On Nov 22, 2015 4:24 PM, "David Buhler" <notificat

[2015-11-23 00:22] davidbuhler commented on #176
I had the same issue. I ended up using the  native Notify library with JSNI. Worked fine.

[2015-11-23 00:30] rmjohn08 commented on #176
Sorry I am not well experienced on the gwt plugin world. Would you be able
to provide bit more details on how you did that? I am not following when
you mentioned using the Notify library with JSNI.

Were you be able to continue using classic dev mode?
On Nov 22, 2015 6:22 PM, "David Buhler" <notifications@github.com> wrote:

[2015-11-24 15:34] FrankW76 opened #239 "DateTimePicker returns wrong time when in 12-hour mode"
When using a 12-hour DateTimePicker, the textbox gets updated to not-existing times.

This reproducable in the demo-website.
If you go to https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker and you select an PM hour the textbox will update to 24 hour format with PM appended... For example : 11/25/2015 23:00 PM. 23:00 PM is a non-existing thing :-)

[2015-11-24 15:35] FrankW76 opened #240 "DateTimePicker returns wrong time when in 24-hour mode"
When using a 24-hour DateTimePicker, the onChangeDate event always returns an hour in the morning. If you for example select 23:00, you will get a Date object with 11:00.

This reproducable in the demo-website.
If you go to https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker and you select an hour in the afternoon in the first demo, you will see the textbox updating to the same hour

[2015-11-24 15:51] crevete commented on #240
Dup #239

[2015-11-24 15:52] crevete commented on #239
Dup #240

[2015-11-24 16:09] FrankW76 commented on #240
I think I have solved this issue but I cannot run my project with the updated bootstrap-extras jar.

When running I get errors in gwt bootstrap :

     [java]             [ERROR] Errors in 'org/gwtbootstrap3/extras/datepicker/client/ui/base/DatePickerBase.java'
     [java]                [ERROR] Line 119: The method setupBlurValidation() of type DatePickerBase.DatePickerValidatorMixin must overrid

[2015-11-25 08:40] FrankW76 commented on #240
I did a pull request to fix this issue : https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/241

The problem was that the default showMeridian is false, and the default format was using 12 hour format.
Not really a bug, but at least confusing.

[2015-11-25 08:41] FrankW76 commented on #239
This is actually not a bug in the datetimepicker, but a bug in the demo.
When setting the showMeridian to true, you must also update the format. In the demo a wrong format using 24h (hh) is passed. HH should be passed.

[2015-11-25 09:16] FrankW76 opened #242 "DatePicker and DateTimePicker keyboard support is broken"
When using the keyboard to enter a Date weird things happen.

In the demo of the normal bootstrap version of DatePicker : http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox

Y

[2015-11-25 09:52] FrankW76 commented on #242
DateTimePicker actually appears to be working quite decently.
It is especially the DatePicker for which the keyboard support is completely broken.

[2015-11-30 14:52] mamezito opened #243 "how i can disable the inline css that comes with FullCalendar?"
when i use just plain widget with     <inherits name="org.gwtbootstrap3.extras.fullcalendar.FullCalendar"/> it  put all css styles inline inside the application, how to avoid this?

[2015-12-04 08:32] FrankW76 opened #244 "DateTimePicker navigation is broken"
Open any DateTimePicker on https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

Click on the arrows to navigate to next/previous period. All kinds of weirds unsuspected things will happen.

When doing this on the demo of the wrapped js library all is normal : http://www.malot.fr/bootstrap-datetimepicker/demo.php?utm_source=siteweb&utm_medium=demo&utm_campaign=Site%2BWeb

[2015-12-04 08:53] FrankW76 opened #245 "DateTimePicker wrong actions when clicking on header"
On https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#dateTimePicker

When you open the first DateTimePicker on that page it will open up in the normal month view.
At the top you will see the header displaying currently : December 2015
When you click on this header, you should go the view where you can select months. This happens, but for some reason now Oct is selected.

If you try this on the d

[2015-12-04 09:33] FrankW76 commented on #244
Fixed by upgrading js library to 2.3.5.
See pull request : https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/246

[2015-12-04 09:33] FrankW76 commented on #245
Fixed by upgrading js library to 2.3.5.
See pull request : https://github.com/gwtbootstrap3/gwtbootstrap3-extras/pull/246

[2015-12-04 22:06] #245 closed

[2015-12-04 22:07] crevete commented on #244
@FrankW76 can you please repair the demo page ?

[2015-12-04 22:07] #244 closed

[2015-12-04 22:08] #240 closed

[2015-12-04 22:15] crevete commented on #180
This is fixed when upgrading to dateTimePicker 2.3.5

[2015-12-04 22:15] #180 closed

[2015-12-04 22:19] crevete commented on #83
This is the same as #240 I think. It is fixed.

[2015-12-04 22:19] #83 closed

[2015-12-04 22:22] crevete commented on #74
This is also fixed after upgrading dateTimePicker to 2.3.5

[2015-12-04 22:22] #74 closed

[2015-12-04 22:29] crevete commented on #140
I cannot reproduce this issue anymore after upgrading library to 2.3.5

[2015-12-04 22:29] #140 closed

[2015-12-08 14:54] dayancosta opened #248 "DateTimePicker"
That element doesn't make differences between 12:xx and 00:xx, selecting one of them it'll treat as 00:xx.

[2015-12-08 15:00] dayancosta commented on #248
I found the issue: it's just set format as hh:ii instead HH:ii and it'll treat as 24-hour format

[2015-12-08 15:00] #248 closed

[2015-12-09 20:30] ialexei opened #249 "Unable to get Lazy loading of events to work for FullCalendar (sample included)"
I am trying to implement equivalent functionality of this...
http://fullcalendar.io/docs/event_data/events_function/

However, my callback is not getting called when the dates are changed.
Here is the sample I wrote to demonstrate the approach I have taken.
https://github.com/ialexei/gwtbootstrap3-sample-app

[2015-12-20 22:37] crevete commented on #154
@alexdobre @netogildo This issue should be fixed now after re-writing the summernote editor for 0.7.0 with plenty of new features. I think the issue was: the wrapper provides an empty implementation for ```onImageUpload``` event. I mean: if you don't add an ```ImageUploadHandler```, the native JS library will also receive an empty callback. Unfortunately, according to the documentation, this will

[2015-12-20 22:37] #154 closed

[2015-12-29 07:24] Grishas opened #256 "Slider is disable after update from 0.9.1 to 0.9.2"
Slider is in disable state after update from 0.9.1 to 0.9.2

![image](https://cloud.githubusercontent.com/assets/6190126/12030881/e77d17b8-ae0d-11e5-84f0-eae0b13f22c8.png)

Please advice

[2015-12-29 09:18] crevete commented on #256
Please provide your sample code. In our demo page, all works fine :

http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#slider

[2015-12-29 12:53] Grishas commented on #256
Sorry it seems issue in my code

Please provide your sample code. In our demo page, all works fine :

http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#slider

—
Reply to this email directly or view it on GitHub
<https://github.com/gwtbootstrap3/gwtbootstrap3-extras/issues/256#issuecomment-167754420>
.

[2015-12-29 13:02] #256 closed

[2016-01-09 16:23] #62 closed

[2016-01-09 16:24] #82 closed

[2016-01-09 16:24] #122 closed

[2016-01-10 22:13] crevete commented on #203
@mickaelbaron I reopen this issue, because this causes #242. You are right, the ``hide()`` method should not be called here. In fact, the syntax validation is ensured by the native javascript lib when losing the focus on text box.

[2016-01-10 22:14] crevete commented on #242
See #203 for more details. The ``hide()`` method makes the keyboard broken.

[2016-01-10 22:24] #242 closed

[2016-01-10 22:25] #203 closed

[2016-01-10 22:31] crevete commented on #206
The PR #182 (the ``setGWTFormat()`` method) should fix this issue, as mentioned @sjardine in the PR #207. And it is available in the 0.9.1 release.

[2016-01-10 22:31] #206 closed

[2016-01-14 05:54] clintonbosch opened #264 "Image gallery controls not showing"
It seems as though there might be an issue with showing the controls (prev button, next button, close button and indicator). I have tried setting them as follows

        gallery.setShowCloseButton(true);
        gallery.setShowIndicator(true);
        gallery.setShowNextButton(true);
        gallery.setShowPrevButton(true);

But I can not see any controls when viewing the lightbox

[2016-01-14 08:18] crevete commented on #264
Please se my reply in #453

[2016-01-14 08:18] #264 closed

[2016-01-21 18:45] shabak opened #266 "How to add open/close handler for drop-down menu of the multiselect?"
In my case I need to do some actions just after closing drop-down menu, not on checking, since I use multiselect mode of the control. Thanks!

[2016-01-21 22:13] crevete commented on #266
In the current version, no event handler is wrapped. This widget needs work anyway :
http://silviomoreto.github.io/bootstrap-select/options/#events

[2016-01-26 12:09] shabak commented on #266
Here is a solution: http://stackoverflow.com/questions/34931853/gwtbootstrap3-extras-select-how-to-add-open-close-handler-for-drop-down-menu-of

[2016-01-26 13:29] crevete commented on #266
One more time, this should be reworked and included in the library. You can do anything by extending the select widget for now, but it is not a good solution.

[2016-01-26 14:12] shabak commented on #266
for sure

[2016-01-27 23:28] #163 closed

[2016-01-27 23:28] crevete commented on #163
When modal is displayed, the natural behavior (like the native JS lib) is:
- when clicking outside the text box, the focus is lost
- when clicking inside the text box, the focus is kept
- when hitting ``ESC`` (to hide the modal), the focus is kept in the text box

[2016-01-27 23:39] #239 closed

[2016-01-27 23:39] crevete commented on #239
See gwtbootstrap3/gwtbootstrap3-demo#121

[2016-02-15 13:36] crevete commented on #51
I'm not sure what you want to do, but if you just want to store an object (or someting similar) into the Option, you can just create an extended option with your getter/setter.

[2016-02-15 23:35] davepuppets opened #271 "DatePicker doesn't work with setFormat("dd/mmmm/yyyy");"
My code look like something like this:
`DatePicker datePicker = new DatePicker();`
`datePicker.setFormat("dd/mmmm/yyyy");`

And then, when I try to pick up a date with the visual element,
I get this:

instead of

We get a similar problem with `datePicker.setFormat("dd/mmm/yyyy");`

[2016-02-16 12:46] ahumellihuk commented on #271
To use GWT date/time format, you need to use setGWTFormat(String pattern) method instead of setFormat(String pattern), which only accepts Bootstrap format.

[2016-02-16 12:48] ahumellihuk opened #272 "ToggleSwitch setVisible() not working"
ToggleSwitch setVisible(boolean visible) method implementation only hides the input element, not the whole wrapper div. This is due to getElement() returning the input element.

[2016-02-16 22:08] #272 closed

[2016-02-19 00:13] #53 closed

[2016-02-19 00:13] #57 closed

[2016-02-19 00:13] #112 closed

[2016-02-19 00:13] #266 closed

[2016-02-19 00:17] crevete commented on #51
@davidbuhler without your reply, I close this issue. Please leave a comment if you want to talk again.

[2016-02-19 00:22] crevete commented on #266
FYI, now you can call ```addHideHandler``` or ```addHiddenHandler``` to do what you want.

For more details, please see http://gwtbootstrap3.github.io/gwtbootstrap3-demo/snapshot/#select

[2016-02-19 00:22] davidbuhler commented on #51
I'd have to look at the code base to see what changes I made to my wrapper to create a typed select with most of my complaints fixed in my fork. I think I left the typed select hoping someone would fork my changes and finish them up. I got some good feedback about the changes I needed to make before making the pull request, but never got around to making the changes.

[2016-02-19 00:32] crevete commented on #51
Anyway please take a look at the new implementation of the select. By default, we provide a simple ```Select```(String) and a ```MultipleSelect```(List<String>) implementations. You may also extend the generic ```SelectBase``` for any typed value.

[2016-02-19 00:39] davidbuhler commented on #51
I will be able to get around to looking this week. I'm actually in the process of updating and porting the GWT app, which I need to complete by next Friday.

[2016-02-21 17:24] peterdresslar opened #279 "Add Method GetAllSelectedOptions to Select.MultipleSelect"
Rather than returning List<String> as in GetAllSelectedValues() this method would return List<Option>. This would enable much easier programmatic access to adding a Selected Option to the Select.

[2016-02-21 19:23] crevete commented on #279
I'm not sure I understand what we want exactly. In your fix, you just add a **private** method. Why private? If you just want to add a method to get all select options, I could add this in an another PR. Please let me know what you want exactly.

[2016-02-21 20:18] #279 closed

[2016-02-22 00:13] davepuppets commented on #271
It works, thanks a lot!

[2016-02-22 00:13] #271 closed

[2016-02-26 20:19] ks280first opened #287 "API Docs link on github page not working"
The API Docs (Javadoc) link on the Github project page gives a 404.  The link to the snapshot docs inside the demo does work.

[2016-02-26 20:54] #287 closed

[2016-03-16 14:21] ssczo opened #290 "Customization of buttons in bootbox not working"
Need to change the content of the "ok" button.

[2016-03-16 14:40] crevete commented on #290
Could you please give us some sample code?

[2016-03-16 14:41] crevete commented on #51
@davidbuhler any news ?

[2016-03-16 14:48] davidbuhler commented on #51
I'm afraid not. I was hoping to move back to this project, but work obligations always bubble up when I think I have downtime approaching. I apologize.

[2016-03-16 16:12] ssczo commented on #290
I would like to add buttons with PromptOptions like:
PromptOptions options = PromptOptions.newOptions(message);
		options.addButton("cancel", constants.cancel(), new SimpleCallback() {
			@Override
			public void callback() {
				callback.callback(false);
			}
		});

Then I have the followin exception in browser
SEVERE: Uncatched exception in promise (Error) : button key bootbox_btn_0 is not allow

[2016-03-16 23:30] crevete commented on #290
I've just realized the bootbox documentation is wrong...

http://bootboxjs.com/documentation.html#bb-prompt-dialog-options

- For prompt, the ```title``` attribute is mandatory, but not ```message```.
- ONLY custom dialog can call ```addButton()``` to customize buttons (You can create a jsfiddle to prove it)

So the bug is: you should not call ```addButton``` from ```PromptOptions```. But in your

[2016-03-27 15:26] crevete commented on #51
@davidbuhler So I close this issue for now. Please fell free to reopen it if necessary.

[2016-03-27 15:26] #51 closed

[2016-03-27 15:30] crevete commented on #205
@dharezlak I'm not sure I understand this issue. Do you mean: change ```slider``` to ```bootstrapSlider```? If ```slider``` was already bound, we could use ```bootstrapSlider``` as namespace. But it ```bootstrapSlider``` is also taken, what can we do?

[2016-03-28 14:00] dharezlak commented on #205
The original JS library used in this extras takes the `bootstrapSlider` namespace only if the `slider` namespace is alredy taken, however, the GWT wrapper always uses the `slider` namespace. I think a rational approach would be to check during wrapper initialization if the `bootstrapSlider` namespace is taken and if it is then to use it. If it is not taken the wrapper should use the `slider` names

[2016-03-28 20:40] lucasbmenezes opened #292 "DatePicker incorrect behavior when navigating using tab key"
When filling up a form using tab key to skip or to go to the next input, and a DatePicker input is reached, instead of continue to the next input field it returns to the first focusable element on the page.

[2016-03-29 08:21] crevete commented on #292
In our demo page, when I hit the Tab key, the focus moves to the next focusable element, and it does not return to the first focusable element.

[2016-03-29 11:12] lucasbmenezes commented on #292
I couldn't make it work on http://gwtbootstrap3.github.io/gwtbootstrap3-demo/#datePicker.
Here are the SS.

DatePicker opened > Tab key pressed
<img width="545" alt="screen shot 2016-03-29 at 08 07 06" src="https://cloud.githubusercontent.com/assets/4417397/14106017/43d25730-f585-11e5-9835-d9302ab6d107.png">

This get focused and it shouldn't. The right one is the "Position" input below the "Setti

[2016-03-30 14:48] crevete commented on #292
I've tested with Firefox 45, it seems it works. But you are right, on Chrome 49, it does not work

[2016-04-01 16:03] Grishas opened #294 "select issue after upgrade from 0.9.2 to 0.9.3"
thirst of all thanks for great widgets!

after upgrade from 0.9.2 to 0.9.3

got follow error:

 Invoking generator com.google.gwt.uibinder.rebind.UiBinderGenerator
                  [ERROR] Field 'selectSection' does not have an 'addChangeHandler' method associated.
         [ERROR] Errors in 'com/ctnf/client/activities/compare/CompareViewImpl.java'
            [ERROR] Line 87: Failed to resolve '

[2016-04-01 16:16] Grishas commented on #294
sorry for noise its my mistake

[2016-04-01 16:59] crevete commented on #294
@Grishas Could you close this issue?

[2016-04-01 18:08] Grishas commented on #294
yes

[2016-04-01 18:08] #294 closed

[2016-04-02 13:19] #292 closed

[2016-04-04 21:00] crevete opened #297 "Cannot add css style to Slider"
Issue reported by @flyinghang:

    width: 100% !important;
    margin-left: 24px;
}
`

[2016-04-04 21:20] crevete commented on #297
@flyinghang This is not possible via uiBinder. Because when setting attributes with uiBinder, the slider element (input) is not attached to DOM yet. So when you set a style name (class) to the slider, it is applied to the input element rather than the generated div element. If you want it possible, you have to create an issue on [bootstrap-slider](/seiyria/bootstrap-slider/), but not here.

Actual

[2016-04-04 21:33] #297 closed

[2016-04-05 01:54] flyinghang commented on #297
Thank you @crevete for the enhancements. I've updated my code to manually call bootstrap-slider API to get the DIV element on the Slider and set the css styles after it get attached to COM. It works like a charm!  This will be my temporarily workaround before next release of gwtbootstrap3-extras.

[2016-04-07 01:48] soodrah opened #299 "No Class matching Slider"
In my gwt.xml I have included the gwtBootstrap as follows
`  <inherits name="org.gwtbootstrap3.GwtBootstrap3NoTheme"/>

     <inherits name="org.gwtbootstrap3.extras.slider.Slider"/>`

In my Ui.xml i am importing the slider as follows
`<ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	xmlns:g="urn:import:com.google.gwt.user.client.ui"
	xmlns:b3="urn:import:org.gwtbootstrap3.extras.slider.cli

[2016-04-07 08:57] crevete commented on #299
Your code looks good. Would you please provide your ui.xml? Or fork https://github.com/gwtbootstrap3/gwtbootstrap3-seed and then creating a view that showcases the problem.

[2016-04-07 11:21] soodrah commented on #299
Hi Crevete
Attaching my ui.xml, I am also trying to debug if its a classloading issue, will take some time for me to debug that, will run the seed project later, meanwhile here is my ui.xml,thanks for looking into this.
[MyDockLayoutPanel.ui.xml.zip](https://github.com/gwtbootstrap3/gwtbootstrap3-extras/files/208240/MyDockLayoutPanel.ui.xml.zip)

[2016-04-07 21:27] crevete commented on #299
I've tried this ui.xml, it works fine. The error message is clear: there is no Slider class in your classpath. Maybe you place the gwt.xml file at the wrong place. Please fork the seed project.

[2016-04-07 22:46] soodrah commented on #299
sure will do that... When you say fork the seed project, do you want me to replace the UI in it with my UI, Please let me know. My gwt.xml is in the right place, since it was working before I made this change and if I remove this change it still works fine. I will share that too with you and look into classloading issues.

[2016-04-08 01:50] soodrah commented on #299
Including the changes I made to the seed project and also the log. The project runs fine after changes but i see a blank page.
[seedWebapp.txt](https://github.com/gwtbootstrap3/gwtbootstrap3-extras/files/209496/seedWebapp.txt)
[toshare.zip](https://github.com/gwtbootstrap3/gwtbootstrap3-extras/files/209497/toshare.zip)

[2016-04-08 02:32] soodrah commented on #299
For now also including the verbose output of the classloader, it seems to find the SliderEntryPoint but not sure why not the Slider
[Console.txt](https://github.com/gwtbootstrap3/gwtbootstrap3-extras/files/209552/Console.txt)

[2016-04-08 09:25] crevete commented on #299
When I say "fork" the project, I mean you go https://github.com/gwtbootstrap3/gwtbootstrap3-seed then click "fork" to fork it in your account, then try to demonstrate the issue. By this way, I can access to your project to see what's wrong. The logs files you've shared do not help a lot...

[2016-04-09 17:55] soodrah commented on #299
Hi Crevete
Instead of forking the seed project, I added my full sample project to my clone. This probably will help...Please let me know. Here is the url

https://github.com/soodrah/DockLayoutSample

[2016-04-09 18:05] soodrah commented on #299
https://github.com/soodrah/DockLayoutSample.git

[2016-04-09 20:53] crevete commented on #299
Your project works fine. I checked again the Console.txt, it shows that you are using GWT 2.6 rather than 2.7. I did reproduce your issue when switching with GWT 2.6. Next time, please ensure your environment is correctly configured than make an issue report.

[2016-04-09 20:53] #299 closed

[2016-04-10 15:50] soodrah commented on #299
hi Crevete
I have updated the project as suggested by you. The slider error is now gone but now I am getting a different error, Could you please help me understand what i missed. I have pushed my changes to Github
1:44:18.105 [ERROR] [usingthedocklayoutpanel] Member &#39;fireSlideEvent(Ljava/lang/Double;)&#39; in JSNI reference &#39;@org.gwtbootstrap3.extras.slider.client.ui.base.SliderBase::fireS

[2016-04-10 15:55] soodrah opened #301 "FireSlideEvent in JSNI reference @org.gwtbootstrap3.extras.slider.client.ui.base.SliderBase could not be found"
hi Crevete
I have updated the project as suggested by you. The slider error is now gone but now I am getting a different error, Could you please help me understand what i missed. I have pushed my changes to Github
1:44:18.105 [ERROR] [usingthedocklayoutpanel] Member &#39;fireSlideEvent(Ljava/lang/Double;)&#39; in JSNI reference &#39;@org.gwtbootstrap3.extras.slider.client.ui.base.SliderBase::fireS

[2016-04-11 01:34] crevete commented on #301
One more time, your project works good, I can see the slider. I really don't know how you can get ```java.lang.NoSuchFieldError```. (Not an Exception, but an Error). It's certainly an environment configuration issue. I'm sorry and not be able to help you... FYI, I'm running your project under Eclipse Mars, Google Plugin for Eclipse 4.4/4.5	3.9.0.v20160321-2025, GWT 2.7, JRE 7 or 8.

[2016-04-11 01:38] soodrah commented on #301
Few more questions -
1. What is SDM ?
2. Can you share the program arguments and VM arguments with me ?
Here is what I am using
Program Arguments
-nosuperDevMode -startupUrl UsingTheDockLayoutPanel.html -war /Users/rahulsood/Data/sandbox/DockLayoutPanelSample/UsingTheDockLayoutPanel/war -remoteUI "${gwt_remote_ui_server_port}:${unique_id}" -logLevel INFO -codeServerPort 9997 -port 8888 com.strateg

[2016-04-11 02:22] crevete commented on #301
SDM = Super Dev Mode http://www.gwtproject.org/articles/superdevmode.html
I'm using the same configuration, but on SDM. Please remove ```-nosuperDevMode```. Classic dev mode is being obsolete.

[2016-04-12 21:09] crevete commented on #301
@soodrah without your reply, I will close this issue.

[2016-04-12 22:04] soodrah commented on #301
hi Crevete
Sorry for the late reply. I did get it working. I was experimenting with the various maven goals to make sure those work. And all that is working too. Thanks for your help.

[2016-04-12 23:12] crevete commented on #301
Cool!

[2016-04-12 23:12] #301 closed

[2016-04-14 07:21] FrankW76 opened #302 "DateTimePicker does not correctly handle disabled dates"
When you disable dates in a DateTimePicker by using for example setStartDate and setEndDate this only works when the user tries to pick a Date with the Mouse.

The dates will be grayed out, and not selectable by clicking on them.
The user can however enter invalid dates using the keyboard, and these will be accepted. These should be rejected and the DateTimePicker should reset to the last valid se

[2016-04-14 09:49] crevete commented on #302
This is certainly a bug of the native JS lib. But as you can see in their demo page, all input elements are **readonly**. The manual input by user is not allowed. Maybe we should disable by default all date time picker ?

[2016-04-14 10:14] FrankW76 commented on #302
I tried with the native JS lib without readonly and as you said, it is a bug in the native library.

I am going to try to create a workaround in the GWT library for this... As I am not a Javascript guy.

[2016-04-20 19:00] BrenoTrancoso opened #304 "Select (Select/deselect all options)"
SelectionOptions.java

static final String ACTION_BOX = DATA_PREFIX + "action-box";

to

static final String ACTION_BOX = DATA_PREFIX + "action**s**-box";

[http://silviomoreto.github.io/bootstrap-select/examples/#selectdeselect-all-options](url)

[2016-04-21 18:15] #304 closed

[2016-05-16 14:58] Grishas opened #308 "select:MultipleSelect issue"
hello,

I try ti use select:MultipleSelect , but got error like
Caused by: com.google.gwt.core.client.JavaScriptException: (TypeError) : $wnd.jQuery(...).selectpicker is not a function

* the behaviour of select:MultipleSelect  is not consistent , some time is working good

please advice

<b:Row>

			<b:Column size="XS_12,SM_12,MD_12,LG_12" offset="XS_0,SM_0,MD_0,LG_0">

			<select:MultipleSelect>

[2016-05-16 15:20] crevete commented on #308
Please see #223.
Your jQuery are probably loaded several times.

[2016-05-17 07:12] Grishas commented on #308
thanks

I have third part js module that require specific  jquery version (jquery-1.10.2.min.js)
Loaded in root html like :
<script type="text/javascript" src="jquery-1.10.2.min.js"></script> -->

In the other side I have select jquery.

Is that the issue?

If yes how you suggest to resolve that.

Thanks a lot again  Grigory.

[2016-05-17 08:17] crevete commented on #308
@Grishas Yes, that's the issue. If you have to import a specific version of jQuery (1.10.2), you must ensure that jQuery is not injected again.

For the select wiget, we do not provide jQuery directly in the GWT module, so I think you have injected jQuery with another GWT module. Please just make sure you do not inherit a GWT module with jQuery included.

[2016-05-17 08:23] Grishas commented on #308
thanks!
I will try

[2016-05-17 09:52] Grishas commented on #308
ok ...
I comment all calls in html file to jquery

and now I use jquery from bootstrap core module.

but I got the same error...Any ideas?

Note.The issue appear on on thirst load of view.After firts load its work :-)

errors

Caused by: com.google.gwt.user.client.ui.AttachDetachException: Exception caught: (TypeError) : $wnd.jQuery(...).selectpicker is not a function
	at Unknown.fillInStackTrace_

[2016-05-17 12:25] crevete commented on #308
Its impossible to troubleshoot a problem I cannot see. Please fork the gwtbootstrap3-sample project and modify it so it exhibits your problem.

[2016-05-18 08:03] Magallo commented on #308
Hi! I had the exact same problem. I solved adding references to css and javascript in my html page before the <app>.nocache.js, like this:

<script type="text/javascript" src="js/jquery-1.11.3/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/lib

[2016-05-18 08:10] Grishas commented on #308
thanks ,
So I feel that we need to understand to root cause
Hope that I will have time to investigate that in deep

[2016-05-18 09:16] Magallo commented on #308
Did you solve the problem? Please, if you investigate and find something, please keep me up to date on the topic.

[2016-05-18 09:17] Grishas commented on #308
sure

[2016-05-18 20:25] crevete commented on #308
@Magallo are you sure you are include ```<inherits name="org.gwtbootstrap3.extras.select.Select"/>``` in your gwt.xml file ? Please note that this include will NOT inject jQuery to your application. You have to include, for example, ```<inherits name="org.gwtbootstrap3.GwtBootstrap3"/>``` in your gwt.xml to inject jQuery before inject bootstrap-select.

Anyway, please ensure that the jQuery is inj

[2016-05-19 08:20] Magallo commented on #308
@crevete yes, I have `<inherits name="org.gwtbootstrap3.extras.select.Select"/>` inside my gwt.xml file and I have also `<inherits name="org.gwtbootstrap3.GwtBootstrap3"/>` before it. In fact my demo project works now, but as I said in my previous message, I had to add references to jquery.js, bootstrap-select.css and bootstrap-select.js to my .html file otherwise the demo project doesn't work. Is

[2016-05-19 08:28] crevete commented on #308
Not at all... These libraries should be injected dynamically by GWT

[2016-05-19 08:46] Magallo commented on #308
@crevete I don't really understand how GWT could dynamically inject these libraries. Is this something related to maven dependencies that I don't use? As I said before, I added gwtbootstrap3 and gwtbootrap3-extras as normal .jar external libraries and not as maven dependencies. Could be this the reason I have to explicitly add .js and .css manually?

[2016-05-19 09:01] crevete commented on #308
I never tried that. When using maven, why do not add theses lib jars into maven dependencies. Any way, why you don't try it your self ?

When loading your webapp, GWT loads all sub-modules. When loading ```inherits name="org.gwtbootstrap3.extras.select.Select``` module, the js library will be injected. Please read GWT turorial. thanks

[2016-05-19 15:53] sjardine commented on #308
This has nothing to do with the build process and it really doesn't matter how you add the jar to your build path.  Each module you load has code that injects the corresponding javascript library when it is loaded.  This mean that you shouldn't try and inject the css or js yourself in the html file, otherwise, you will get errors like the one you describe above.

I personally do not like automatic

[2016-05-19 15:56] sjardine commented on #308
Oh @Magallo,  Here is the code that injects the javascript for your reference:

[code]

[2016-05-29 08:41] crevete commented on #308
Any new about this ? @Grishas @Magallo

[2016-06-01 10:52] Grishas commented on #308
it seems that first time during access select js its still not loaded.
So I will try sjardine suggestion to load all js by myself.
sjardine/crevete can you pls provide such king of example how to correct load GwtBootstrap3NoTheme and SelectNoResources by myself(I mean to all necessary resources like js etc ....)?
Thanks a lot Grisha

[2016-06-01 16:08] sjardine commented on #308
Please fork the seed project and create a test that shows the error.  This way we can fix any problems.  I will work on an example over the next few weeks.

[2016-06-22 12:59] lofidewanto commented on #308
Hi all,

I also experience this problem:

`uncaught exception: com.google.gwt.user.client.ui.AttachDetachException: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caught: Exception caug

[2016-06-22 14:32] lofidewanto commented on #308
My workaround for this problem is using ScriptInjector to inject the correct JQuery:

`ScriptInjector.fromUrl("https://code.jquery.com/ui/1.11.4/jquery-ui.js")
				.setCallback(new Callback<Void, Exception>() {
					@Override
					public void onFailure(Exception reason) {
						logger.info("Script load failed Info: " + reason);
					}

					@Override
					public void onSuccess(Void result) {

[2016-06-29 08:25] andrei-taras opened #310 "Select widget with resources : wrong JS path."
Hello,

There appears to be a problem with GWTBootstrap 's select. I'm getting this error
`(TypeError) : $wnd.jQuery(...).selectpicker is not a function`
Despite seeing this error reported several times around here, I do not understand why other people seems to have solved it. Maybe they're using a different version, or including JS resources in a different way (manually?).

If you look in SelectC

[2016-07-06 09:39] danijelbasic opened #311 "Problems with Tags Input component with multi value support"
Hi everybody,

Here are the steps to reproduce the problem:
1. create a simple form (UI Binder template) by using bootstrap3 Form widget
2. place MVTagsInput widget in the form as well as one button for the form submission
3. implement a simple handler for the button - it reads a value (via getValue() method) from the input field and logs it
4. open the host page which will show the form, do not e

[2016-07-06 10:19] danijelbasic commented on #311
Hi again,

Actually, the problem occurs if getValue() is called on instance of MVTagsInput. If getItems() is called, everything works as expected.

[2016-07-14 09:43] ahumellihuk opened #312 "Date (Time) Picker fires ValueChangeEvent when setting value into it with 'fireEvents' == false"
When you call setValue(value, false), you expect the date picker to just update its value, but not fire ValueChangeEvent. Unfortunately, this is exactly what happens. In JS library there is a check whether the new value was passed in to the update() function, and if it wasn't then it fires a 'changeDate' event. Is there a specific reason for using update() function, but setting the new value direc

[2016-08-04 00:45] wildcart opened #313 "Use Select in CellTable or DataGrid"
Is there any way to use a `Select` in a `CellTable` or `DataGrid` without subclassing `AbstractCell<C>` or implementing `Cell<C>`?

I know that I can add a GWT `SelectionCell` to get the functionality I want but this uses the browser's / HTML's `select` which is not styled correctly (no Bootstrap styles are applied).

[2016-08-05 07:42] sauldeleon commented on #308
Hello all,

Im facing the same issue, as you can see in the next image

![image](https://cloud.githubusercontent.com/assets/2400723/17429657/1466fc1e-5af0-11e6-8196-8629151db226.png)

I think after reading this comments that I have referenced twice the same library or some jquery in some inherit zone, but im not able to find out where...

This is my main inheritance area

[code]

and the common pa

[2016-08-05 09:00] crevete commented on #308
@sauldeleon your gwt.xml looks good. When injecting ```org.gwtbootstrap3.GwtBootstrap3```, jquery and bootstrap js are included, then ```org.gwtbootstrap3.extras.select.Select```, select js is loaded. What your HTML page looks like ? Is there any "static" javascript import ?

@Grishas Just a question: when you said the first load, it does not work, but after that it works fine. In your HTML file,

[2016-08-05 09:25] sauldeleon commented on #308
Hello @crevete and thanks for your fast response!

Here is an image of the loading files:

![image](https://cloud.githubusercontent.com/assets/2400723/17432290/c400d1d2-5afe-11e6-94a8-979451dbc1ab.png)

I dont' see any jquey file to be loaded. but if i hit F5... the second time it works, and i Dont see any difference in the loaded files.

![image](https://cloud.githubusercontent.com/assets/2400723

[2016-08-05 09:45] crevete commented on #308
@sauldeleon In your screenshot, I don't see jquery loading, is it loaded before ? Could you provide your HTML page (typically content of the ```<head>``` element) ?

[2016-08-05 10:08] sauldeleon commented on #308
Hello @crevete

Sure, here it is:

[code]

Wow... this is wierd. I have generated a gif with a loading try, as you can see, it loads the select js, then the error is shown and then it dissapears :/

![error](https://cloud.githubusercontent.com/assets/2400723/17433478/2ece51e6-5b05-11e6-988a-14c5fa878798.gif)

[2016-08-05 14:05] sjardine commented on #308
The easiest way to resolve this issue is to *NOT* use the automatic injection.   Inherit the *NoResources modules and inject the javascript yourself.  This way you control when the JS gets injected.

[2016-08-05 22:06] crevete commented on #313
The problem is ```CellTable``` and ```DataGrid``` use HTML to render each cell content. So you may inject the ```Select``` JS and CSS, then write in your cell some native HTML like :
[code]
When loading the page, the select JS will render it as bootstrap ```Select```. But in this case, you are not able to use GwtBootstrap3 Select APIs.

Maybe you could try ```FlexTable``` that allows you to setWid

[2016-08-07 13:46] crevete commented on #310
Thanks for the report. This is the same issue as #308. Please join it.

[2016-08-07 13:46] #310 closed

[2016-08-07 13:50] crevete commented on #308
Maybe the way we inject select JS changes the script loading order if you guys never had problems with other extra widget...
I will try to change ```ScriptInjector.fromUrl()``` to ```ScriptInjector.fromString()```. But I still cannot understand why on our demo page, it does not happen. Because it does exactly the same thing:
[code]

[2016-08-07 13:53] crevete commented on #310
In fact, the resource folder is in `src/main/resource`, but for client bundle, it would better move it to `src/main/java`

[2016-08-07 14:24] crevete commented on #308
Could you please test this fix and give me a feedback ? thanks

[2016-08-08 05:17] sauldeleon commented on #308
Do you mean downloading the last version of gwt boostrap3 and try again? or injecting the JS as @sjardine proposed?

[2016-08-08 08:36] crevete commented on #308
@sauldeleon Please use the last snapshot version (1.0-SNAPSHOT) with maven.

[2016-08-08 09:12] sauldeleon commented on #308
@crevete OK, I have downloaded the last source code and I have built it with maven. Im going to check the fix a.s.a.p. Ill keep you posted

[2016-08-08 10:06] crevete commented on #311
@markonikolic Could you please take a look at this issue? Thanks

[2016-08-08 12:11] markonikolic commented on #311
Fixed, a pull requested #315 has been created.

[2016-08-08 12:32] crevete commented on #311
@markonikolic Thank you very much :-)

[2016-08-08 12:32] #311 closed

[2016-08-08 12:40] wildcart commented on #313
thanks for the quick reply.

Unfortunately, the select is not added when the page is loaded but after an RPC call is made to receive the data from a server (should have mentioned this before :( ). So the main problem is that I need to call the JS to render the select manually and I can't find the function I have to hook into. I tried to add several listeners to `DataGrid` to call the JS after the

[2016-08-10 08:27] crevete commented on #308
@Grishas @Magallo @lofidewanto Could you please also test this fix with current SNAPSHOT version and give me a feedback? Thanks

[2016-08-10 13:43] wildcart commented on #313
Using a `Timer` called from `DataGrid::redraw` renders the selects after the data is added to the grid. Adding the `Timer` to the render function of my `Cell` implementation doesn't work even if I set the timeout of the timer to 20 seconds and the select is clearly added to the DOM . After selecting another value from the drop-down the grid/cell is redrawn which removes the rendered select. I see

[2016-08-10 13:43] #313 closed

[2016-08-19 20:32] crevete commented on #308
@sauldeleon @Grishas @Magallo @lofidewanto Any news?

[2016-08-20 21:39] crevete commented on #226
The Javadoc says:
[code]
Here the ```delay``` is only the first one before animation loop, but not before every animation.

[2016-08-20 21:39] #226 closed

[2016-08-21 19:04] crevete commented on #312
Setting the new value directly into the textbox before calling the ```update```function may be due to the date format issue.

[2016-08-21 19:13] #312 closed

[2016-08-22 12:35] sauldeleon commented on #308
hello @crevete and sorry for my very late answer.

In my particular case, I got the problem solved. It was not a Boostrap 3 extras problem.

It was a poor knowdledge problem: I have some mapper condition added that was avoiding to load the modules correctly. Everything started to work correctly when I set the mappers OK. Now, it is working perfect ;)

Thanks for all the help and feedback.

P.S: I

[2016-08-22 12:56] crevete commented on #308
@sauldeleon great news :-) FYI, the select has been upgraded to the last version 1.11.0 with support of some new options

[2016-08-22 13:50] sauldeleon commented on #308
@crevete Thanks! but i have a question.

Do I am able to use it throught the maven respository like this(in the pom.xml)?

<dependency>
    <groupId>org.gwtbootstrap3</groupId>
    <artifactId>gwtbootstrap3-extras</artifactId>
    <version>1.11.0</version>
</dependency>

Or Do I have to set is a a external package?

Thanks again!

[2016-08-22 15:18] crevete commented on #308
@sauldeleon You can try it (select v1.11.0) using maven, but 1.11.0 is the version of the select widget, but not the version of gwtbootstrap3-extra. You should use the current 1.0-SNAPSHOT version of gwtbootstrap3-extra. Please see the demo page: http://gwtbootstrap3.github.io/gwtbootstrap3-demo/snapshot/#select

[2016-08-23 05:16] sauldeleon commented on #308
@crevete GREAT! thank you!

There is some way to give more ideas for improve GWT Boostrap3 - Select? any ideas panel or similar? Because a I have one and I don't know if here is the correct place

Regards!

[2016-08-23 05:52] crevete commented on #308
@sauldeleon please just create a new issue thanks

[2016-08-25 11:21] pvdptje commented on #98
If you don't mind not displaying any text at all when picking a time, you can always hide it with css.

[code]

[2016-08-27 21:03] ahtremblay opened #321 "Select:getValue() returns all kinds of values before being added to the dom."
[code]

message box 1 will return null
message box 2 will return 1
message box 3 will return ""
message box 4 will return ""

even if setValue has never been called or set.

[2016-08-27 23:26] ahtremblay commented on #321
Created a wrapper as a workaround. Not pretty but it gets the job done.

`public class CorrectedSelect extends Select {

    private String v;

    public CorrectedSelect() {
        addAttachHandler(new AttachEvent.Handler() {
            @Override
            public void onAttachOrDetach(AttachEvent attachEvent) {
                if (attachEvent.isAttached()){
                    setValue(v);

[2016-08-28 13:25] crevete commented on #321
It looks strange, but it is normal. Please note that before the select being attached to DOM, the select widget is just like a simple HTML ```<select>```.
- message box 1: No option, return null (set by Java code, natively it should be empty string)
- message box 2: Only one option, return the option's value, because the ```option.selected=true```
- message box 3 and 4: already attached to DOM, we

[2016-08-28 13:25] #321 closed

[2016-08-28 19:53] crevete commented on #308
@Grishas @Magallo @lofidewanto without your reply, I will close this issue.

[2016-09-14 11:20] attitherobot opened #324 "Select Widget - Exception on reloading a page with a Select on it"
Hello,

The Select widget is awesome, I really like to use it!  I have found a failure and cant fix it:

When reloading a the page in the browser, and a Select Widget is on it, it will give you the following Exception when trying to Attach the newly created Select into the reloaded page:

12:56:01.888 [ERROR] [*****] Uncaught exception escaped
com.google.gwt.user.client.ui.AttachDetachException: E

[2016-09-14 11:27] attitherobot opened #325 "Slider - Some Issues"
Hi,
thank you all for this wonderful framework for GWT.

The problem:
I want to use the bootstrap Slider but getting some errors

Ui XML
[code]

When trying to start the webapp I get this failure:

_

_

It seems that the method fireSlideEvent(Ljava/lang/Double;) is not implemented.

I have fixed this by overwriting some functions:

[code]

Could someone please add test/implement it into the next

[2016-09-14 12:45] crevete commented on #324
You may probably take a look at #308 to get the answer.

[2016-09-14 13:18] crevete commented on #325
This error looks strange... Because the method is implemented... Are you on classic dev mode? or SDM?

[2016-09-15 19:35] #324 closed

[2016-09-19 10:52] crevete commented on #325
@attitherobot This must be the issue... The classical dev mode is deprecated and no longer supported by GWT for at least one year. It will probably be removed in the next release of GWT. So we do not support it any more... Please move to SDM or keep your "fix" your self.

[2016-09-19 10:52] #325 closed

[2016-09-19 11:31] crevete commented on #308
@attitherobot Why you don't use maven (as described in the project home page) to download the SNAPSHOT version ?

[code]
Anyway, you can download it here:
https://oss.sonatype.org/content/repositories/snapshots/org/gwtbootstrap3/gwtbootstrap3-extras/

[2016-10-14 21:12] nathandunn commented on #308
@attitherobot  You can use maven to wrap ant calls.

I did try https://github.com/gwtbootstrap3/gwtbootstrap3-extras/commit/5d5b3a130582885a5f236fc2f8ac02cb75f5377a

I was having the same problem and this fixed it.

[2016-10-14 21:13] nathandunn commented on #308
I should note that I am using the theme:

    <inherits name='com.google.gwt.user.theme.clean.Clean'/>

[2016-11-02 16:40] fusionbeam opened #326 "custom extra, no class matching and JSNI"
Hi guys,

First of all thanks for your work on this project. We found it very useful.
I'm working on a FlotChart extra, should things go well would happily contribute it back to the project.

Here is my problem, maybe it rings a bell to someone as I am out of ideas at the moment.
i've created a <flotchart: namespace binding to my ui package folder where there is the class FlotChart.

Here is a sim

[2016-11-03 07:58] fusionbeam commented on #326
never mind figured it out.
this is illegal apparently:
[code]

[2016-11-03 07:58] #326 closed

[2016-11-20 10:35] #98 closed

[2016-11-20 11:19] crevete commented on #98
The demo page is updated to show how to fix this issue.

[2016-11-21 04:24] reachaish opened #330 "Datepicker - unable to mask text"
I'm trying to set the datepicker textBox text to a masked value with forceParsed set to false and the framework automatically changes that to a current date.

[2016-11-21 10:07] crevete commented on #330
Are you sure that is a bug of gwtbootstrap3-extras wrapper ? As you can see in the source code, the wrapper does simply pass the ```forceParse``` value to the datePicker. Please make a jsfiddle to see if it is a bug of datePicker. If so, you may create an issue in that project. Thanks

[2016-11-23 21:03] crevete commented on #330
@reachaish Without your reply, I will close this issue.

[2016-11-27 20:20] #330 closed

[2016-11-30 15:34] reachaish commented on #330
Hello @crevete , Sorry i'm late with the response. I was able to get the masking done onBlur with forceparse set to false,, i'm unable to edit the month/year in the datepicker maybe because i'm overriding the DOM handlers.

               dob.setForceParse(false);
		dob.addDomHandler(new BlurHandler() {
			@Override
			public void onBlur(BlurEvent event) {
				dob.getTextBox().setText(**masked val

[2016-12-03 21:40] crevete commented on #330
I'm sorry, but this is 100% a datepicker issue, but not a gwtbootstrap3-extras issue. Please create an issue in that project.

[2016-12-12 15:39] platform2 opened #331 "ToggleSwitch doesn't work"
I use GwtBootstrap Extra 0.9.3 in my application. I have some following code:

ToggleSwitch toggleSwitch = new ToggleSwitch();
FlowPanel  flowPanel = new FlowPanel();
flowPanel.add(toggleSwitch);

Once I run in Chrome, I got the following exception:

Exception caught: (TypeError) : $wnd.jQuery(...).bootstrapSwitch is not a function

I confirmed Window.jQuery is defined in Chrome development tool.

[2016-12-12 15:45] crevete commented on #331
It seems that jQuery is inject several times. It should be injected ONLY ONCE.

<inherits name="org.gwtbootstrap3.client.Resources"/> ==> This will inject jQuery
<inherits name="org.gwtbootstrap3.GwtBootstrap3"/> ==> This will inject jQuery again
<inherits name="org.gwtbootstrap3.extras.toggleswitch.ToggleSwitch"/>

[2017-01-09 09:26] liwston opened #332 "New SelectLanguage not work"
I was using version 0.9.1, when I updated it to 0.9.3...

when compile gwt I got this error

`org.gwtbootstrap3.extras.select.client.ui.SelectLanguage cannot be resolved to a variable`

like this class not in
`.org.gwtbootstrap3.extras.select.Select.gwt.xml`

[2017-01-09 09:38] crevete commented on #332
This may be an issue of your local environment... As you can see, in the ```Select.gwt.xml```, we declare all contents of ```client``` package as GWT source code.

[2017-01-09 10:08] #332 closed

[2017-01-09 12:51] liwston opened #333 "Summernote inside modal"
I have a Summernote inside a Modal, when I click on close in anyone Summernote modal window (like a "insert a link") my first Modal is closed too

![1](https://cloud.githubusercontent.com/assets/5443742/21766281/8353db12-d654-11e6-824c-f8c4a924edb0.JPG)
![2](https://cloud.githubusercontent.com/assets/5443742/21766283/8900b1d4-d654-11e6-8952-ea127fe123ef.JPG)

[2017-01-09 15:17] crevete commented on #333
This is not a summernote issue, please check this: http://stackoverflow.com/questions/32162747/bootstrap-close-all-open-modals-prior-to-opening-a-new-one

[2017-01-09 16:23] liwston commented on #333
Thank you, I solved this problem using mySummernote.setDialogsInBody(true);

[2017-01-09 16:23] #333 closed

[2017-01-26 14:21] wstarcev commented on #159
Have any news?

extend from ValueBoxBase<T> directly to use custom typeahead classes in ui.xml and handle typed value changes.

[2017-02-17 22:38] ks280first commented on #308
What is the schedule for the release including this fix?

We have had to modify our release builds to allow Snapshots along with manually adding it to our maven repositories just for this fix .  This is less than ideal for a production environment.

[2017-02-20 15:07] sjardine commented on #308
Does the SNAPSHOT build currently work for your case?  This issue is seems to primarily be an injection issue.  As I stated before I don't like the automatic injection features.  I don't use them in a production environment.

@crevete I will prepare a release.  0.9.4, I guess.  Do you have any objections?

[2017-03-21 09:27] crevete commented on #308
@sjardine Thanks for the release!

[2017-03-28 01:34] JohnRock0422 opened #334 "Value format of DatePicker not work"
as title.
btw, current DatePicker is v1.5.1, would upgrade to v1.6.4?

Thank you.

[2017-05-19 20:23] mrichterPP opened #335 "Select value change event behavior"
I recognized a strange behavior of the Bootstrap Select value change event. Switching between pages, one with a Select widget lead to a accumulation of events fired.
It is reproducible in both demos (0.9.4 and snapshot):
- go to Extra->Select
- go somewhere else
- go back to Select
Now scroll to 'API and events' and select a new item in one of the Selects. You will see that the event log is loggin

[2017-05-25 12:52] manstis opened #336 "org.gwtbootstrap3.extras.select.SelectNoResources / bootstrap-select-xxx.min.cache.js"
Hi,

We have a custom CSS in place of Bootstrap so opt to use the ```SelectNoResources``` module for the ```Select``` control. The problem is however this does not add the required JS to the page (as reported on https://github.com/gwtbootstrap3/gwtbootstrap3-extras/issues/308). The workaround being to inject the script manually.

However it could also be accomplished by adding the entry-point ```o

[2017-05-25 14:12] sjardine commented on #336
"No Resources" means that no resources are injected.  You are responsible to inject the "resources" yourself.

[2017-05-25 14:12] #336 closed

[2017-08-21 08:56] ThomProbst opened #356 "Fix browser issue in datetimepicker version 2.3.12"
datetimepicker 2.3.11 and before relies on the output of `new Date().toString()` in a buggy way.

Expected output: `Fri Aug 18 2017 15:59:09 GMT+0200 (Central Europe Daylight Time)`
Actual output in some browsers: `Fri Aug 18 2017 15:59:59 GMT+0200`

Buggy code: `this.defaultTimeZone = (new Date).toString().split("(")[1].slice(0, -1);`

This is fixed in version 2.3.12 of datetimepicker. Please upg

[2017-09-06 20:51] mrichterPP commented on #335
No comments on this? Feels like the question is too stupid for a answer...nobody else undergo this problem? Any tips?

[2017-09-11 13:21] chihebnabil opened #337 "select:MultipleSelect issue"
Hi ,

 I want to use MultipleSelect in my project , when i add the component in my view i got

this error :

[ERROR] No class matching "MultipleSelect" in urn:import:org.gwtbootstrap3.extras.select.client.ui: <select:MultipleSelect> (:74)

NB ; I Have already  add the lib v0.9.4 and the dependencies in my module

Thanks

[2017-09-12 11:45] slugmandrew commented on #337
Do you have `xmlns:b.select="urn:import:org.gwtbootstrap3.extras.select.client.ui"` at the top of your uiBinder?

[2017-09-12 11:47] chihebnabil commented on #337
yes @slugmandrew

[2017-09-18 16:20] ahumellihuk commented on #335
I have the same issue - it seems to be failing to unbind javascript events in SelectBase::onUnload, as for every time it binds them in SelectBase::onLoad it adds a new handler

[2017-09-18 17:26] sjardine commented on #337
Please fork the gwtbootstrap3-seed project and create an example that highlights this issue and I will check it out.

[2017-09-18 17:27] sjardine commented on #335
Please fork the gwtbootstrap3-seed project and create an example that highlights this issue and I will check it out.

[2017-09-18 17:27] sjardine commented on #334
Please fork the gwtbootstrap3-seed project and create an example that highlights this issue and I will check it out.

I'll look at upgrading....when I have time.

[2017-09-18 20:27] sjardine commented on #334
Updated master to version 1.6.4.

[2017-09-19 09:47] ahumellihuk commented on #335
I think I found the issue - **SelectBase::onLoad** invokes **jQuery(e).selectpicker(options)**, which adds a new '**change**' handler every time that **triggers 'changed'** event. As a workaround, I extended the Select and MultipleSelect classes like this:

[code]

Might submit a PR when I have time.

[2017-12-01 08:57] schragmanuel commented on #335
Had the same problem. Thanks @ahumellihuk for the workaround! Works for me

[2018-01-07 01:29] wildcart opened #344 "Select returns first item as selected item before attach"
Hi,

I have a rather odd problem with `Select` returning the first item as selected
item (`getSelectedItem` / `getValue`) before it (its parent) is attached and
after being attached it returns `null`. The behaviour is the same
regardless if I add the option in the UI file or manually in the code.
'Unselecting' the option that I add manually doesn't help either.

If the `Select` is provided (`@UiFi

[2018-01-08 15:30] sjardine commented on #344
I will have to do some more investigation but the main problem here is that this component is just a wrapper for the [Bootstrap Select](https://silviomoreto.github.io/bootstrap-select/) project.  How it behaves before it is attached and after is mostly dependent on the underlying component.

[2018-01-08 20:19] wildcart commented on #344
Thanks for the quick response.

I've seen that it is a wrapper while tracking the problem why my code behaved unexpectedly :)

What I have noticed is that the code in `Select::getValue` has a switch checking whether the `Select` is attached or not. If it is attached it uses `$wnd.jQuery(e).selectpicker('val');` to return the selected value, else it iterates over the map of 'items' returning the fi

[2018-03-13 09:51] bhagyalakshmisabbella commented on #223
How we can know jQuery is injecting multiple times and if so how can we avoid it.

[2018-03-13 14:31] sjardine commented on #223
I would suggest not using modules that use the script injector.  Inherit from the "no resources" or "no theme" modules and then inject the difference scripts you need in your index.html.

This gives you the most control over how and when the scripts are injected.

[2018-07-28 20:20] valeriofinazzo opened #345 "com.google.gwt.user.client.ui.AttachDetachException: Exception caught: Exception caught: (TypeError) : $wnd.jQuery(...).datepicker is not a function"
Hi,
using date picker on gwt 2.8.2 on superdev mode i receive this error
com.google.gwt.user.client.ui.AttachDetachException: Exception caught: Exception caught: (TypeError) : $wnd.jQuery(...).datepicker is not a function

this is my configuration

<module rename-to="frontEnd">
	<inherits name="com.google.gwt.user.User" />
	<inherits name="org.fusesource.restygwt.RestyGWT" />
	<inherits name="gwt.

[2018-07-28 22:54] sjardine commented on #345
This is most likely due to the fact that gwtbootstrap3 has been injected more than once. Please check the group and GitHub issues for more info. It has been covered extensively.

On Jul 28, 2018, 2:21 PM, at 2:21 PM, valeriofinazzo <notifications@github.com> wrote:

IMPORTANT: This email does not constitute a contract or an offer or acceptance of an offer to enter into a contract.  Further, this e

[2018-07-29 08:15] valeriofinazzo commented on #345
Hi Steven,
many thanks for your reply
i resolved doing this:

in .gwt.xml
	<inherits name="org.gwtbootstrap3.extras.datepicker.DatePicker"/>

in onModuleLoad() i used

if (!isJQueryLoaded()) {
			ScriptInjector.fromUrl("https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	        .setWindow(ScriptInjector.TOP_WINDOW).setRemoveTag(true).inject();
		}

private native boolean isJQuery

[2018-07-29 08:15] #345 closed

[2018-10-27 23:52] #335 closed

[2018-12-03 10:36] mdathersajjad opened #346 "Typeahead listener getting called multiple times?"
Dear Team,
Typeahead is a must have widget in this libraries and application. It serves the autocomplete purpose. The select listener is getting called multiple times even though i am adding it only once.Does any body have a fix for this.

[2018-12-03 15:15] sjardine commented on #346
Good morning!  I am the only member of the "team" and this project is very low priority for me.  I am more than happy to look at a pull request if you would like to find the problem and submit a fix.  If not, this will likely take several months to investigate and fix.  Of course, if you would like to pay for premium support we may be able to work something out.

Also, please remember that this li

[2018-12-07 21:10] eugen-eugen opened #347 "Select-element: leaps over two or more list elements when using Down and Up-Keys"
Our setup:
The Web-Page includes THREE GWT-applications and each of them uses bootstrap3-extras-select.

Now, if I am in a select list and hit Down or Up keys, the cursor isn't moving to the next or previous line but rather make three moves forward resp. three moves back.

Our analysis:
Each inclusion of bootstrap3-extras-select charges the html elements with key-events. We included bootstrap3-ext

[2018-12-19 08:03] eugen-eugen commented on #347
pull request must be merged

[2018-12-19 15:15] sjardine commented on #347
Please fork the seed project and create a test case that exhibits the problem. The gwtbootstrap3-demo project does not have this behavior.

I would recommend that you do not used the gwt modules with auto injection. Just inherit the modules that don't inject the scripts and inject them yourself in your index.html file or whatever.

[2019-01-09 20:19] saadhamouine opened #349 "Fullcalendar header buttons handler"
Hello I want to add some actions to the handler of the buttons in the fullcalendar header, but i'm having trouble finding where to do that.
Some help or hints would be appreciated!

[2019-01-10 10:25] saadhamouine opened #350 "getView() undefined"
Hi, I'm trying to use the getView method so i would know the start and end date of my view but it always returns undefined.

[2019-02-07 15:13] sjardine commented on #347
I don't think this is a bug.  I am pretty sure this is due to incorrect use of the modules that auto injects scripts.  Will reopen if a verifiable test case is given.

[2019-02-07 15:13] #347 closed

[2019-02-07 15:14] sjardine commented on #350
This is not nearly enough information to even comment.  Please provide a verifiable test case.

[2019-02-07 15:14] #350 closed

[2019-02-07 15:15] sjardine commented on #349
Not an issue.  Please look to the mailing list for help.

[2019-02-07 15:15] #349 closed

[2019-02-07 15:16] #331 closed

[2019-02-07 15:25] saadhamouine commented on #350
Ok here's a simple test case. I want to only load events from the DB that exist in the timeframe of the View(Month, Week, Day)
//
FullCalendar calendar = new FullCalendar("id",Viewoption.month,....);
Date start = calendar.getView().getStart();
Date end = calendar.getView().getEnd();
DB.loadevents(start,end);
//
the problem is the method getView returns always null.

[2019-02-07 15:36] sjardine commented on #350
I'm sorry. This is not really a test case. Please fork the gwtbootstrap-seed project, modify the project to identify the problem and then send me the link to your project.

[2019-02-22 10:19] saadhamouine opened #352 "FullCalendar remove header"
Hello,
I tried using the setNoHeader() method in the FullCalendar but is till get the default header.
Any help would appreciated!

[2019-02-27 15:33] saadhamouine opened #353 "Ressource class missing"
Hello,
I wanted to split the calendar view by resources and i noticed that the resource in the FullCalendar is not wrapped.
this is the description link of resource : https://fullcalendar.io/docs/resource-data
Hope this will be implemented in the next version 👍

[2019-03-08 08:26] cRUSHER-HLG opened #354 "MultipleSelect get TextInput"
Hello guys,
I need to know how i can access the current written text from from a multipleSelect. If you have only one you can use a KeyDownEvent. I have multiple of them and the KeyDownEvent fires but its always empty.
I get the input from the keyBoard but not the id from the control in which it has been written. So is the problem i dont know from which multipleSelect the input comes. Does someone

[2019-03-18 09:35] psefranek opened #355 "select.client.ui.SelectBase: change handler added on every call to SelectBase.onLoad"
After a little bit of testing i found out that jQuery change handler (handler for native javascript event of type "change") is added to underlying select element every time method `SelectBase.onLoad` is called. However this handler is not removed during call to `SelectBase.onUnload` (which itself calls private method `SelectBase.unbindSelectEvents`). This leads to undesired behavior that one user

[2019-04-03 19:37] annu2127 opened #357 "ToggleSwitchClientBundle needs to be public."
ToggleSwitchClientBundle is currently having default access specifier, it needs to be public so that it can be used to inject the script.

[2019-04-17 14:09] FrankW76 opened #358 "DateTimePicker display inline"
Is it possible to create an inline DateTimePicker instead of a textbox with popup ?

On this page from the js library https://www.malot.fr/bootstrap-datetimepicker/ at the bottom it states something about inline. But I have no idea how I can achieve this in GWT.

[2019-05-09 19:30] brazeneric commented on #355
Experiencing the exact same issue w/ same dependency versions.  @psefranek – added your fix in a wrapper class and it works great. Thanks!

[2019-08-22 07:00] 12arpita-bu opened #361 "ngb-datepicker - click on arrow to navigate between months doesn't work"
In custom settings, to set 'From date' and 'To date', the arrow buttons don't work after selecting 'From date'. The arrow buttons reactivate after selecting 'From date'.
Below is the html code, I wrote for it:

<ngb-datepicker
  #dp
  (select)="onDateSelection($event)"
  [displayMonths]="3"
  [dayTemplate]="t"
  [maxDate]="maxDate"
  [minDate]="minDate"
  [startDate]="startDate"
  [markDisabled]="